In [12]:
import pandas as pd
import numpy as np

## Inroduction | Creating Objects | Viewing Data

1. https://www.geeksforgeeks.org/pandas/introduction-to-pandas-in-python/

2. https://www.geeksforgeeks.org/python/how-to-install-python-pandas-on-windows-and-linux/

3. https://www.geeksforgeeks.org/machine-learning/how-to-use-jupyter-notebook-an-ultimate-guide/

1. https://www.geeksforgeeks.org/pandas/creating-a-pandas-dataframe/

2. https://www.geeksforgeeks.org/python/python-pandas-series/

3. https://www.geeksforgeeks.org/python/creating-a-pandas-series/

1. https://www.geeksforgeeks.org/python/python-pandas-dataframe-series-head-method/

2. https://www.geeksforgeeks.org/python/python-pandas-dataframe-series-tail-method/

3. https://www.geeksforgeeks.org/pandas/python-pandas-dataframe-describe-method/

In [13]:
# pandas_basics_combined.py
# Pandas basics: installation notes, Series, DataFrame creation, head/tail/describe examples.
# Top-level script with detailed inline comments explaining what each function does and parameters.

# ---------- INSTALL / START NOTES (no code) ----------
# To install pandas:
#   pip install pandas
#
# Recommended environment:
#   - Use a virtualenv or conda environment (conda create -n pd python=3.10)
#   - Use Jupyter Notebook or JupyterLab for interactive exploration:
#       jupyter notebook
#   - See GfG guides for step-by-step install and using Jupyter. :contentReference[oaicite:1]{index=1}
#
# Note: pandas depends on numpy. If you have Anaconda, pandas is included.

# ------------------------------
# Imports
# ------------------------------
import pandas as pd
import numpy as np

print("\n=== PANDAS BASICS: SERIES & DATAFRAME CREATION ===\n")


# ======================================================
# 1) PANDAS SERIES
# ======================================================
# A Series is a 1D labeled array. It holds values + an index (labels).
# Common constructor:
#   pd.Series(data, index=None, dtype=None, name=None)
# Parameters:
#   data  : list/ndarray/dict/scalar
#   index : list-like labels; if omitted pandas uses 0..n-1
#   dtype : force data type (e.g., 'float64', 'int32', 'object')
#   name  : optional name of the Series (shows in prints)
#
# Series behaves like a single column (vector). See GfG Series guide. :contentReference[oaicite:2]{index=2}

# Create from a Python list (default index = 0..n-1)
s1 = pd.Series([10, 20, 30, 40])
print("Series from list:\n", s1, "\n")

# Create from a list with a custom index
s2 = pd.Series([100, 200, 300], index=['a', 'b', 'c'], dtype='int64', name='scores')
print("Series with custom index & dtype:\n", s2, "\n")

# Create from a dict (keys -> index, values -> data)
d = {'apple': 5, 'banana': 3, 'cherry': 7}
s3 = pd.Series(d, name='fruits')
print("Series from dict (keys become index):\n", s3, "\n")


# Accessing Series:
print("s2['b'] ->", s2['b'])           # by label
print("s1[0]    ->", s1[0])            # by integer position (index 0)
print("s2.index ->", s2.index)         # index labels
print("s2.values ->", s2.values)       # ndarray of values
print("\n")


# ======================================================
# 2) PANDAS DATAFRAME (many ways to create)
# ======================================================
# A DataFrame is a 2D labeled tabular structure (rows + columns).
# Constructor signatures:
#   pd.DataFrame(data=None, index=None, columns=None, dtype=None)
# where 'data' can be:
#   - dict of lists/ndarrays: {colname: column_values}
#   - list of dicts (records)
#   - 2D ndarray + columns list
#   - Series dict
#
# GfG covers many ways to create DataFrame. :contentReference[oaicite:3]{index=3}

# 2A: From dict of lists (common)
data_dict = {
    'Name' : ['Alice', 'Bob', 'Charlie'],
    'Age'  : [25, 30, 22],
    'City' : ['Delhi', 'Mumbai', 'Bangalore']
}
df1 = pd.DataFrame(data_dict, columns=['Name', 'Age', 'City'])  # columns order optional
print("DataFrame from dict of lists:\n", df1, "\n")

# 2B: From list of dicts (each dict is a row / "record")
rows = [
    {'Name':'Dan', 'Age': 28},
    {'Name':'Eve', 'Age': 35, 'City': 'Chennai'},  # missing City in first row -> NaN
]
df2 = pd.DataFrame(rows)
print("DataFrame from list of dicts (records):\n", df2, "\n")

# 2C: From NumPy 2D array + column names
arr = np.array([[1,2,3],[4,5,6]])
df3 = pd.DataFrame(arr, columns=['A','B','C'])
print("DataFrame from 2D ndarray:\n", df3, "\n")

# 2D: From a Series mapping (each Series is a column)
col1 = pd.Series([10,20,30], index=['x','y','z'])
col2 = pd.Series([0.1, 0.2, 0.3], index=['x','y','z'])
df4 = pd.DataFrame({'col1': col1, 'col2': col2})
print("DataFrame from Series objects (index aligned):\n", df4, "\n")


# ======================================================
# 3) Basic DataFrame inspection / attributes
# ======================================================
# Useful attributes & methods:
#   df.shape      -> (n_rows, n_cols)
#   df.columns    -> column Index
#   df.index      -> row Index
#   df.dtypes     -> dtype per column
#   df.info()     -> concise summary (non-null counts + dtypes)
#   df.head(n=5)  -> first n rows (default n=5)
#   df.tail(n=5)  -> last n rows (default n=5)
#   df.describe() -> summary statistics for numeric columns (count, mean, std, min, 25%, 50%, 75%, max)
#
# head/tail/describe are covered on GfG. :contentReference[oaicite:4]{index=4}

print("df1.shape:", df1.shape)
print("df1.columns:", df1.columns)
print("df1.dtypes:\n", df1.dtypes)
print("\nConcise info() output:")
df1.info()   # prints info (non-null counts, memory usage)

print("\n-- head() examples --")
print("df1.head()  -> default first 5 rows (here all rows):\n", df1.head(), "\n")
print("df1.head(2) -> first 2 rows:\n", df1.head(2), "\n")

print("-- tail() examples --")
print("df1.tail()  -> last 5 rows (here all):\n", df1.tail(), "\n")
print("df1.tail(1) -> last 1 row:\n", df1.tail(1), "\n")

print("-- describe() example --")
# describe() returns descriptive stats for numeric columns by default
print(df1.describe(), "\n")   # count, mean, std, min, quartiles, max


# ======================================================
# 4) Small manipulation examples (selection / slicing)
# ======================================================
# Selecting columns: df['col'] returns a Series; df[['col1','col2']] returns DataFrame
print("Select single column (Series):\n", df1['Age'], "\n")
print("Select multiple columns (DataFrame):\n", df1[['Name','City']], "\n")

# Row selection by position: iloc, by label: loc
print("Row 0 by position (iloc):\n", df1.iloc[0], "\n")
# If index is labeled (not 0..n-1) use df.loc[label]
print("Select rows where Age > 24:\n", df1[df1['Age'] > 24], "\n")

# Adding a new column (vectorized)
df1['Age_plus_5'] = df1['Age'] + 5
print("After adding Age_plus_5 column:\n", df1, "\n")

# Dropping a column (returns new DataFrame unless inplace=True)
df_copy = df1.drop(columns=['Age_plus_5'])
print("After drop (copy):\n", df_copy, "\n")


# ======================================================
# 5) IO quick notes (read/write)
# ======================================================
# Read CSV:
#   pd.read_csv(filepath, sep=',', header='infer', index_col=None, usecols=None, dtype=None, parse_dates=False)
# Important params:
#   filepath   : path to CSV
#   sep        : delimiter (default ',')
#   header     : row number to use as column names (default 0)
#   index_col  : column to use as row labels
#   parse_dates: try to parse date columns
#
# Write CSV:
#   df.to_csv(path, index=True/False)
#
# Example (commented out since no file in this run):
#   df = pd.read_csv('data.csv')
#   df.to_csv('out.csv', index=False)
#
# See GfG install/read guides for more. :contentReference[oaicite:5]{index=5}


# ======================================================
# 6) Short cookbook: useful one-liners
# ======================================================
print("=== COOKBOOK ===")
print("Value counts of a column (frequency): df['City'].value_counts() ->")
print(df1['City'].value_counts(), "\n")

print("Sort by column: df.sort_values('Age') ->")
print(df1.sort_values('Age'), "\n")

print("Reset index: df.reset_index(drop=True) ->")
print(df1.reset_index(drop=True), "\n")

print("Rename columns: df.rename(columns={'Age':'age_years'}) ->")
print(df1.rename(columns={'Age':'age_years'}), "\n")


# ======================================================
# 7) Closing notes & pointers
# ======================================================
# - Pandas Series and DataFrame are built on top of NumPy arrays — operations are vectorized.
# - Use head()/tail()/describe() for quick data exploration. They are your first commands after loading data. :contentReference[oaicite:6]{index=6}
# - For learning path: start with Series -> DataFrame -> IO -> indexing -> groupby -> merge/join -> time-series.
# - I can convert this into a Jupyter notebook with explanatory cells and outputs if you like.

print("\n=== Done: pandas basics example script ===\n")

=== PANDAS BASICS: SERIES & DATAFRAME CREATION ===

Series from list:
 0    10
1    20
2    30
3    40
dtype: int64

Series with custom index & dtype:
 a    100
b    200
c    300
Name: scores, dtype: int64

Series from dict (keys become index):
 apple     5
banana    3
cherry    7
Name: fruits, dtype: int64

s2['b'] -> 200
s1[0]    -> 10
s2.index -> Index(['a', 'b', 'c'], dtype='object')
s2.values -> [100 200 300]


DataFrame from dict of lists:
       Name  Age       City
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   22  Bangalore

DataFrame from list of dicts (records):
   Name  Age     City
0  Dan   28      NaN
1  Eve   35  Chennai

DataFrame from 2D ndarray:
    A  B  C
0  1  2  3
1  4  5  6

DataFrame from Series objects (index aligned):
    col1  col2
x    10   0.1
y    20   0.2
z    30   0.3

df1.shape: (3, 3)
df1.columns: Index(['Name', 'Age', 'City'], dtype='object')
df1.dtypes:
 Name    object
Age      int64
City    object
dtype: object

Concise info() output:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

-- head() examples --
df1.head()  -> default first 5 rows (here all rows):
       Name  Age       City
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   22  Bangalore

df1.head(2) -> first 2 rows:
     Name  Age    City
0  Alice   25   Delhi
1    Bob   30  Mumbai

-- tail() examples --
df1.tail()  -> last 5 rows (here all):
       Name  Age       City
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   22  Bangalore

df1.tail(1) -> last 1 row:
       Name  Age       City
2  Charlie   22  Bangalore

-- describe() example --
             Age
count   3.000000
mean   25.666667
std     4.041452
min    22.000000
25%    23.500000
50%    25.000000
75%    27.500000
max    30.000000

Select single column (Series):
 0    25
1    30
2    22
Name: Age, dtype: int64

Select multiple columns (DataFrame):
       Name       City
0    Alice      Delhi
1      Bob     Mumbai
2  Charlie  Bangalore

Row 0 by position (iloc):
 Name    Alice
Age        25
City    Delhi
Name: 0, dtype: object

Select rows where Age > 24:
     Name  Age    City
0  Alice   25   Delhi
1    Bob   30  Mumbai

After adding Age_plus_5 column:
       Name  Age       City  Age_plus_5
0    Alice   25      Delhi          30
1      Bob   30     Mumbai          35
2  Charlie   22  Bangalore          27

After drop (copy):
       Name  Age       City
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   22  Bangalore

=== COOKBOOK ===
Value counts of a column (frequency): df['City'].value_counts() ->
City
Delhi        1
Mumbai       1
Bangalore    1
Name: count, dtype: int64

Sort by column: df.sort_values('Age') ->
      Name  Age       City  Age_plus_5
2  Charlie   22  Bangalore          27
0    Alice   25      Delhi          30
1      Bob   30     Mumbai          35

Reset index: df.reset_index(drop=True) ->
      Name  Age       City  Age_plus_5
0    Alice   25      Delhi          30
1      Bob   30     Mumbai          35
2  Charlie   22  Bangalore          27

Rename columns: df.rename(columns={'Age':'age_years'}) ->
      Name  age_years       City  Age_plus_5
0    Alice         25      Delhi          30
1      Bob         30     Mumbai          35
2  Charlie         22  Bangalore          27


=== Done: pandas basics example script ===

### Common binary Operations

sub()	Method is used to subtract series or list like objects with same length from the caller series

mul()	Method is used to multiply series or list like objects with same length with the caller series

div()	Method is used to divide series or list like objects with same length by the caller series

sum()	Returns the sum of the values for the requested axis

prod()	Returns the product of the values for the requested axis

mean()	Returns the mean of the values for the requested axis

pow()	Method is used to put each element of passed series as exponential power of caller series and returned the results

abs()	Method is used to get the absolute numeric value of each element in Series/DataFrame

cov()	Method is used to find covariance of two series


.


1. https://www.geeksforgeeks.org/python/python-pandas-series-mul/

2. https://www.geeksforgeeks.org/python/python-pandas-series-div/

3. https://www.geeksforgeeks.org/python/python-pandas-series-sum/

4. https://www.geeksforgeeks.org/machine-learning/python-pandas-series-prod/

5. https://www.geeksforgeeks.org/pandas/python-pandas-series-mean/

6. https://www.geeksforgeeks.org/python/python-pandas-series-pow/

7. https://www.geeksforgeeks.org/python/python-pandas-series-abs/

8. https://www.geeksforgeeks.org/python/python-pandas-series-cov-to-find-covariance/

In [14]:
# pandas_series_operations.py
# Covers:
# 1) Series.mul()
# 2) Series.div()
# 3) Series.sum()
# 4) Series.prod()
# 5) Series.mean()
# 6) Series.pow()
# 7) Series.abs()
# 8) Series.cov()

import pandas as pd
import numpy as np


print("\n==================== PANDAS SERIES OPERATIONS ====================\n")

# Sample Series for demonstrations
s1 = pd.Series([10, 20, 30, 40])
s2 = pd.Series([1, 2, 3, 4])


# =====================================================================
# 1) Series.mul() → elementwise multiplication
# =====================================================================
# Syntax:
#   Series.mul(other, fill_value=None)
# Parameters:
#   other       : number or another Series
#   fill_value  : value used to fill missing indexes before operation
# Meaning:
#   Performs s1 * other elementwise.
print("\n1) Series.mul() - elementwise multiplication")
print("s1:\n", s1)
print("\nMultiplying s1 * 2 → s1.mul(2)")
print(s1.mul(2))

print("\nMultiplying two series s1 * s2")
print(s1.mul(s2))



# =====================================================================
# 2) Series.div() → elementwise division
# =====================================================================
# Syntax:
#   Series.div(other, fill_value=None)
# Meaning:
#   s1 / other elementwise.
print("\n\n2) Series.div() - elementwise division")
print("s1 / 10 → s1.div(10)")
print(s1.div(10))

print("\nDividing s1 / s2 → s1.div(s2)")
print(s1.div(s2))



# =====================================================================
# 3) Series.sum() → sum of all elements
# =====================================================================
# Syntax:
#   Series.sum(skipna=True)
# Parameters:
#   skipna : ignore NaN values (default True)
# Meaning:
#   Returns scalar sum.
print("\n\n3) Series.sum() - sum of elements")
print("Sum of s1:", s1.sum())



# =====================================================================
# 4) Series.prod() → product of all elements
# =====================================================================
# Syntax:
#   Series.prod(skipna=True)
# Meaning:
#   Multiply all elements together → returns scalar.
print("\n\n4) Series.prod() - product of all elements")
print("Product of s1:", s1.prod())



# =====================================================================
# 5) Series.mean() → mean (average)
# =====================================================================
# Syntax:
#   Series.mean(skipna=True)
# Meaning:
#   Returns arithmetic mean of the series.
print("\n\n5) Series.mean() - average value")
print("Mean of s1:", s1.mean())



# =====================================================================
# 6) Series.pow() → elementwise exponentiation
# =====================================================================
# Syntax:
#   Series.pow(other, fill_value=None)
# Meaning:
#   s1 ** other (each element raised to power).
print("\n\n6) Series.pow() - exponentiation")
print("s2.pow(2)  # each element squared")
print(s2.pow(2))



# =====================================================================
# 7) Series.abs() → absolute values
# =====================================================================
# Syntax:
#   Series.abs()
# Meaning:
#   Returns absolute value of each element.
s3 = pd.Series([-5, -10, 15, -2])
print("\n\n7) Series.abs() - absolute values")
print("Original:\n", s3)
print("Absolute:\n", s3.abs())



# =====================================================================
# 8) Series.cov() → covariance between two Series
# =====================================================================
# Syntax:
#   Series.cov(other)
# Meaning:
#   Calculates covariance between this Series and another.
#
# Important:
#   - Lengths must match
#   - Returns scalar covariance value
#
# Covariance meaning:
#   +ve → variables increase together
#   -ve → one increases while other decreases
#    0  → independent movement
#
x = pd.Series([10, 20, 30, 40, 50])
y = pd.Series([5, 15, 25, 35, 45])

print("\n\n8) Series.cov() - covariance between Series")
print("x:\n", x)
print("y:\n", y)

print("Covariance x.cov(y):", x.cov(y))



print("\n==================== DONE ====================\n")

==================== PANDAS SERIES OPERATIONS ====================


1) Series.mul() - elementwise multiplication
s1:
 0    10
1    20
2    30
3    40
dtype: int64

Multiplying s1 * 2 → s1.mul(2)
0    20
1    40
2    60
3    80
dtype: int64

Multiplying two series s1 * s2
0     10
1     40
2     90
3    160
dtype: int64


2) Series.div() - elementwise division
s1 / 10 → s1.div(10)
0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

Dividing s1 / s2 → s1.div(s2)
0    10.0
1    10.0
2    10.0
3    10.0
dtype: float64


3) Series.sum() - sum of elements
Sum of s1: 100


4) Series.prod() - product of all elements
Product of s1: 240000


5) Series.mean() - average value
Mean of s1: 25.0


6) Series.pow() - exponentiation
s2.pow(2)  # each element squared
0     1
1     4
2     9
3    16
dtype: int64


7) Series.abs() - absolute values
Original:
 0    -5
1   -10
2    15
3    -2
dtype: int64
Absolute:
 0     5
1    10
2    15
3     2
dtype: int64


8) Series.cov() - covariance between Series
x:
 0    10
1    20
2    30
3    40
4    50
dtype: int64
y:
 0     5
1    15
2    25
3    35
4    45
dtype: int64
Covariance x.cov(y): 250.0

==================== DONE ====================

## Selection | Slicing | Other Operations

1. https://www.geeksforgeeks.org/pandas/dealing-with-rows-and-columns-in-pandas-dataframe/

2. https://www.geeksforgeeks.org/python/python-pandas-extracting-rows-using-loc/

3. https://www.geeksforgeeks.org/python/python-extracting-rows-using-pandas-iloc/

4. https://www.geeksforgeeks.org/pandas/indexing-and-selecting-data-with-pandas/

5. https://www.geeksforgeeks.org/pandas/boolean-indexing-in-pandas/

6. https://www.geeksforgeeks.org/python/python-pandas-dataframe-ix/

7. https://www.geeksforgeeks.org/python/python-pandas-series-str-slice/

8. https://www.geeksforgeeks.org/python/how-to-take-column-slices-of-dataframe-in-pandas/


### Other Operations

1. https://www.geeksforgeeks.org/python/python-pandas-apply/

2. https://www.geeksforgeeks.org/python/apply-function-to-every-row-in-a-pandas-dataframe/

3. https://www.geeksforgeeks.org/pandas/python-pandas-series-apply/

4. https://www.geeksforgeeks.org/python/python-pandas-dataframe-aggregate/

5. https://www.geeksforgeeks.org/python/python-pandas-dataframe-mean/

6. https://www.geeksforgeeks.org/pandas/python-pandas-series-mean/

7. https://www.geeksforgeeks.org/python/python-pandas-dataframe-mad/

8. https://www.geeksforgeeks.org/python/python-pandas-series-mad-to-calculate-mean-absolute-deviation-of-a-series/

9. https://www.geeksforgeeks.org/python/python-pandas-dataframe-sem/

18. https://www.geeksforgeeks.org/python/python-pandas-series-value_counts/

10. https://www.geeksforgeeks.org/python/applying-lambda-functions-to-pandas-dataframe/

In [20]:
# pandas_indexing_examples.py
# Demonstrates rows/columns operations, loc/iloc, boolean indexing, .ix (deprecated note),
# Series.str.slice, and column slicing. All examples are top-level with comments.

import pandas as pd
import numpy as np

print("\n=== SETUP: sample DataFrame ===\n")

# Build a sample DataFrame used across examples
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age' : [25, 30, 35, 40, 22],
    'City': ['Delhi', 'Mumbai', 'Bengaluru', 'Kolkata', 'Chennai'],
    'Score':[85, 92, 78, 88, 91]
}
df = pd.DataFrame(data)
# Show index and columns (default index 0..n-1)
print("Initial DataFrame:\n", df, "\n")
print("shape:", df.shape)
print("columns:", df.columns)
print("index:", df.index, "\n")


# ============================================================
# 1) ROWS & COLUMNS: add, drop, rename, set/reset index
# ============================================================
print("\n=== 1) Rows & Columns operations ===\n")

# Add a new column (vectorized assignment)
# df['NewCol'] = <series-like> ; new column aligned by index
df['Passed'] = df['Score'] >= 80   # boolean column
print("Added 'Passed' column:\n", df, "\n")

# Drop a column:
# df.drop(columns=['colname'], inplace=False) returns new DF by default
df_dropped = df.drop(columns=['Passed'])
print("After df.drop(columns=['Passed']) (copy):\n", df_dropped, "\n")

# Drop a row by label (index value):
# df.drop(index=label) ; axis=0 by default
df_droprow = df.drop(index=2)   # removes row with index 2 ('Charlie')
print("After df.drop(index=2):\n", df_droprow, "\n")

# Rename columns:
# df.rename(columns={'old':'new'}, inplace=False)
print("Rename 'City' -> 'Location':\n", df.rename(columns={'City':'Location'}), "\n")

# Set an existing column as index:
# df.set_index('Name', inplace=False)
df_indexed = df.set_index('Name')
print("Set 'Name' as index (new DataFrame):\n", df_indexed, "\n")

# Reset index back to default:
print("Reset index (back to numeric):\n", df_indexed.reset_index(), "\n")


# ============================================================
# 2) loc — label-based indexing
# ============================================================
print("\n=== 2) .loc (label-based) ===\n")

# Basic: df.loc[row_label, col_label]
# When index is default integers, row_label is integer index value
print("Row with label/index 1 (as Series):\n", df.loc[1], "\n")

# Select multiple rows and columns by labels:
# df.loc[[row_labels], [col_labels]]
print("Rows 1 & 3, columns 'Name' and 'Score':\n", df.loc[[1,3], ['Name','Score']], "\n")

# Slicing with labels (inclusive of the end label for loc)
# df.loc[start_label : end_label, start_col : end_col]
print("Rows 1 to 3 (inclusive), columns 'Name' to 'City' (inclusive):\n",
      df.loc[1:3, 'Name':'City'], "\n")

# Selecting all rows but specific columns:
print("All rows, columns 'Name' and 'Age':\n", df.loc[:, ['Name','Age']], "\n")

# Boolean condition with loc:
# df.loc[df['Age'] > 30, ['Name','Score']]
print("Select rows where Age > 30 (loc + boolean mask):\n",
      df.loc[df['Age'] > 30, ['Name','Score']], "\n")

# Assigning using loc (in-place)
# df.loc[mask, 'col'] = value  — modifies DataFrame in-place
df.loc[df['Name'] == 'Alice', 'Score'] = 87
print("After updating Alice's Score with loc assignment:\n", df, "\n")


# ============================================================
# 3) iloc — integer position based indexing
# ============================================================
print("\n=== 3) .iloc (position-based) ===\n")

# iloc uses integer positions [row_pos, col_pos], zero-based and end-exclusive for slices
print("First row by position (iloc[0]):\n", df.iloc[0], "\n")

# Select rows 1..3 by position (end-exclusive), and columns 0..2
print("df.iloc[1:4, 0:3] -> rows pos 1..3, cols pos 0..2:\n", df.iloc[1:4, 0:3], "\n")

# Fancy indexing by positions: pass lists of integer positions
print("Rows at positions [0,2], columns [1,3] ->\n", df.iloc[[0,2],[1,3]], "\n")

# Negative indices allowed (like Python lists)
print("Last row with iloc[-1]:\n", df.iloc[-1], "\n")


# ============================================================
# 4) Combined examples: loc vs iloc differences
# ============================================================
print("\n=== 4) loc vs iloc differences ===\n")

# If index labels are integers and non-default, loc treats them as labels (not positions)
df2 = df.set_index('Age')   # index now values [25,30,35,40,22]
print("df2 (Age as index):\n", df2, "\n")
# df2.loc[30] -> uses label 30 (row where Age==30)
print("df2.loc[30] -> row with index label 30:\n", df2.loc[30], "\n")
# df2.iloc[1] -> second row by position
print("df2.iloc[1] -> second row by position:\n", df2.iloc[1], "\n")


# ============================================================
# 5) Boolean indexing (filtering)
# ============================================================
print("\n=== 5) Boolean indexing ===\n")

# Boolean mask example:
mask = (df['Score'] >= 90) & (df['Age'] < 35)
print("Mask (Score>=90 & Age<35):", mask.tolist())
print("Filtered rows with mask:\n", df[mask], "\n")

# Use .query() as a string-based filter alternative (useful for readability)
print("Using df.query('Score>=90 and Age < 35'):\n", df.query('Score >= 90 and Age < 35'), "\n")


# ============================================================
# 6) .ix (DEPRECATED) — explanation and safe alternative
# ============================================================
print("\n=== 6) .ix — deprecated (do NOT use) ===\n")
print("Note: .ix was deprecated and removed in pandas >= 0.20. It tried to be 'label or position' ambiguous.")
print("Use .loc for label-based selection and .iloc for position-based selection.\n")

# For historical demonstration only: show recommended replacements
# Example intention: "select row with label 1 and column 'Name'"
print("Use .loc[1,'Name'] if 1 is a label; use .iloc[1,0] if 1 is a position.\n")


# ============================================================
# 7) Series string slicing (.str.slice and other .str helpers)
# ============================================================
print("\n=== 7) Series string operations (.str.slice) ===\n")

# Suppose we want first 3 characters of each Name
names = df['Name']
print("Original names:\n", names.tolist())
# Series.str.slice(start, stop, step) -> works on string Series
# start inclusive, stop exclusive (like Python slicing)
print("First 3 chars (names.str.slice(0,3)):\n", names.str.slice(0, 3).tolist(), "\n")

# Other useful .str methods: .lower(), .upper(), .contains(), .split(), .replace()
print("names.str.upper():", names.str.upper().tolist())
print("names.str.contains('a') -> boolean Series indicating whether 'a' appears:\n", names.str.contains('a'))


# ============================================================
# 8) Column slices: label-range and positional slicing
# ============================================================
print("\n=== 8) Column slicing ===\n")

# 8A: Label-range slicing (inclusive) with loc:
# df.loc[:, 'Name':'City'] -> selects all rows and columns from 'Name' through 'City' (inclusive)
print("Columns 'Name' through 'City' (label-range with loc):\n", df.loc[:, 'Name':'City'], "\n")

# 8B: Column list to select specific columns:
print("Select columns by list ['City','Score']:\n", df[['City','Score']], "\n")

# 8C: Positional column slice using iloc:
# df.iloc[:, 1:4] -> selects columns by position (end-exclusive)
print("Columns by positional slice iloc[:, 1:3] ->\n", df.iloc[:, 1:3], "\n")

# 8D: Using filter to choose columns by regex or like
print("Columns with name starting with 'S' using filter(regex):\n", df.filter(regex='^S').columns.tolist(), "\n")


# ============================================================
# 9) Accessing multiple rows in different ways (examples)
# ============================================================
print("\n=== 9) Accessing different rows ===\n")

# contiguous rows by slice
print("df[1:4] -> rows positions 1..3 (slice by position on default index):\n", df[1:4], "\n")

# rows by explicit list of labels (fancy indexing)
print("df.loc[[0,2,4]] -> rows with labels 0,2,4:\n", df.loc[[0,2,4]], "\n")

# selecting by boolean masks built from multiple conditions:
print("Rows where City == 'Mumbai' or Score>90:\n", df[(df['City']=='Mumbai') | (df['Score']>90)], "\n")


# ============================================================
# 10) Good practices & tips
# ============================================================
print("\n=== 10) Tips & best practices ===\n")
print("- Prefer .loc and .iloc explicitly; they are unambiguous.")
print("- Use boolean masks for filtering; combine masks with & and | and wrap conditions with parentheses.")
print("- Use df.at[row_label, col_label] or df.iat[row_pos, col_pos] for fast scalar access/assignment.")
print("- Avoid chained indexing like df[df['A']>0]['B'] = val (may cause SettingWithCopyWarning). Use loc instead.")
print("- When index labels are integers, be careful: loc uses labels, iloc uses positions.\n")

print("=== DONE ===\n")

=== SETUP: sample DataFrame ===

Initial DataFrame:
       Name  Age       City  Score
0    Alice   25      Delhi     85
1      Bob   30     Mumbai     92
2  Charlie   35  Bengaluru     78
3    David   40    Kolkata     88
4      Eve   22    Chennai     91

shape: (5, 4)
columns: Index(['Name', 'Age', 'City', 'Score'], dtype='object')
index: RangeIndex(start=0, stop=5, step=1)


=== 1) Rows & Columns operations ===

Added 'Passed' column:
       Name  Age       City  Score  Passed
0    Alice   25      Delhi     85    True
1      Bob   30     Mumbai     92    True
2  Charlie   35  Bengaluru     78   False
3    David   40    Kolkata     88    True
4      Eve   22    Chennai     91    True

After df.drop(columns=['Passed']) (copy):
       Name  Age       City  Score
0    Alice   25      Delhi     85
1      Bob   30     Mumbai     92
2  Charlie   35  Bengaluru     78
3    David   40    Kolkata     88
4      Eve   22    Chennai     91

After df.drop(index=2):
     Name  Age     City  Score  Passed
0  Alice   25    Delhi     85    True
1    Bob   30   Mumbai     92    True
3  David   40  Kolkata     88    True
4    Eve   22  Chennai     91    True

Rename 'City' -> 'Location':
       Name  Age   Location  Score  Passed
0    Alice   25      Delhi     85    True
1      Bob   30     Mumbai     92    True
2  Charlie   35  Bengaluru     78   False
3    David   40    Kolkata     88    True
4      Eve   22    Chennai     91    True

Set 'Name' as index (new DataFrame):
          Age       City  Score  Passed
Name
Alice     25      Delhi     85    True
Bob       30     Mumbai     92    True
Charlie   35  Bengaluru     78   False
David     40    Kolkata     88    True
Eve       22    Chennai     91    True

Reset index (back to numeric):
       Name  Age       City  Score  Passed
0    Alice   25      Delhi     85    True
1      Bob   30     Mumbai     92    True
2  Charlie   35  Bengaluru     78   False
3    David   40    Kolkata     88    True
4      Eve   22    Chennai     91    True


=== 2) .loc (label-based) ===

Row with label/index 1 (as Series):
 Name         Bob
Age           30
City      Mumbai
Score         92
Passed      True
Name: 1, dtype: object

Rows 1 & 3, columns 'Name' and 'Score':
     Name  Score
1    Bob     92
3  David     88

Rows 1 to 3 (inclusive), columns 'Name' to 'City' (inclusive):
       Name  Age       City
1      Bob   30     Mumbai
2  Charlie   35  Bengaluru
3    David   40    Kolkata

All rows, columns 'Name' and 'Age':
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4      Eve   22

Select rows where Age > 30 (loc + boolean mask):
       Name  Score
2  Charlie     78
3    David     88

After updating Alice's Score with loc assignment:
       Name  Age       City  Score  Passed
0    Alice   25      Delhi     87    True
1      Bob   30     Mumbai     92    True
2  Charlie   35  Bengaluru     78   False
3    David   40    Kolkata     88    True
4      Eve   22    Chennai     91    True


=== 3) .iloc (position-based) ===

First row by position (iloc[0]):
 Name      Alice
Age          25
City      Delhi
Score        87
Passed     True
Name: 0, dtype: object

df.iloc[1:4, 0:3] -> rows pos 1..3, cols pos 0..2:
       Name  Age       City
1      Bob   30     Mumbai
2  Charlie   35  Bengaluru
3    David   40    Kolkata

Rows at positions [0,2], columns [1,3] ->
    Age  Score
0   25     87
2   35     78

Last row with iloc[-1]:
 Name          Eve
Age            22
City      Chennai
Score          91
Passed       True
Name: 4, dtype: object


=== 4) loc vs iloc differences ===

df2 (Age as index):
         Name       City  Score  Passed
Age
25     Alice      Delhi     87    True
30       Bob     Mumbai     92    True
35   Charlie  Bengaluru     78   False
40     David    Kolkata     88    True
22       Eve    Chennai     91    True

df2.loc[30] -> row with index label 30:
 Name         Bob
City      Mumbai
Score         92
Passed      True
Name: 30, dtype: object

df2.iloc[1] -> second row by position:
 Name         Bob
City      Mumbai
Score         92
Passed      True
Name: 30, dtype: object


=== 5) Boolean indexing ===

Mask (Score>=90 & Age<35): [False, True, False, False, True]
Filtered rows with mask:
   Name  Age     City  Score  Passed
1  Bob   30   Mumbai     92    True
4  Eve   22  Chennai     91    True

Using df.query('Score>=90 and Age < 35'):
   Name  Age     City  Score  Passed
1  Bob   30   Mumbai     92    True
4  Eve   22  Chennai     91    True


=== 6) .ix — deprecated (do NOT use) ===

Note: .ix was deprecated and removed in pandas >= 0.20. It tried to be 'label or position' ambiguous.
Use .loc for label-based selection and .iloc for position-based selection.

Use .loc[1,'Name'] if 1 is a label; use .iloc[1,0] if 1 is a position.


=== 7) Series string operations (.str.slice) ===

Original names:
 ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
First 3 chars (names.str.slice(0,3)):
 ['Ali', 'Bob', 'Cha', 'Dav', 'Eve']

names.str.upper(): ['ALICE', 'BOB', 'CHARLIE', 'DAVID', 'EVE']
names.str.contains('a') -> boolean Series indicating whether 'a' appears:
 0    False
1    False
2     True
3     True
4    False
Name: Name, dtype: bool

=== 8) Column slicing ===

Columns 'Name' through 'City' (label-range with loc):
       Name  Age       City
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bengaluru
3    David   40    Kolkata
4      Eve   22    Chennai

Select columns by list ['City','Score']:
         City  Score
0      Delhi     87
1     Mumbai     92
2  Bengaluru     78
3    Kolkata     88
4    Chennai     91

Columns by positional slice iloc[:, 1:3] ->
    Age       City
0   25      Delhi
1   30     Mumbai
2   35  Bengaluru
3   40    Kolkata
4   22    Chennai

Columns with name starting with 'S' using filter(regex):
 ['Score']


=== 9) Accessing different rows ===

df[1:4] -> rows positions 1..3 (slice by position on default index):
       Name  Age       City  Score  Passed
1      Bob   30     Mumbai     92    True
2  Charlie   35  Bengaluru     78   False
3    David   40    Kolkata     88    True

df.loc[[0,2,4]] -> rows with labels 0,2,4:
       Name  Age       City  Score  Passed
0    Alice   25      Delhi     87    True
2  Charlie   35  Bengaluru     78   False
4      Eve   22    Chennai     91    True

Rows where City == 'Mumbai' or Score>90:
   Name  Age     City  Score  Passed
1  Bob   30   Mumbai     92    True
4  Eve   22  Chennai     91    True


=== 10) Tips & best practices ===

- Prefer .loc and .iloc explicitly; they are unambiguous.
- Use boolean masks for filtering; combine masks with & and | and wrap conditions with parentheses.
- Use df.at[row_label, col_label] or df.iat[row_pos, col_pos] for fast scalar access/assignment.
- Avoid chained indexing like df[df['A']>0]['B'] = val (may cause SettingWithCopyWarning). Use loc instead.
- When index labels are integers, be careful: loc uses labels, iloc uses positions.

=== DONE ===

In [ ]:
# pandas_apply_agg_examples.py
# Demonstrates: DataFrame.apply, Series.apply, DataFrame.agg, mean, mad (manual), sem, value_counts,
# apply with lambda (row-wise), applymap (elementwise), and usage notes.
#
# Run: python pandas_apply_agg_examples.py

import pandas as pd
import numpy as np

print("\n=== SETUP SAMPLE DATA ===\n")

df = pd.DataFrame({
    'A': [10, 20, 30, 40],
    'B': [1.5, 2.5, 3.5, np.nan],
    'C': ['x', 'y', 'x', 'z']
})

print("Sample DataFrame:\n", df, "\n")


# ============================================================
# 1) DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwargs)
# - Applies function along an axis (0 = index/columns, 1 = columns/rows)
# - If func returns a Series for each input, results can be combined into a DataFrame.
# - result_type controls how list-like results are combined (None, 'expand', 'reduce', 'broadcast').
# ============================================================

print("\n=== 1) DataFrame.apply examples ===\n")

# Example B: apply function to each ROW (axis=1)
# Here the function receives a Series for the row (index = column names)
def row_sum(row):
    # sum numeric columns in the row (skip non-numeric automatically by pandas' sum)
    return row[['A', 'B']].sum()

print("Apply row_sum to each row (axis=1):")
print(df.apply(row_sum, axis=1))
print()

# Example C: result_type='expand' when func returns a sequence for each row
# result_type='expand' will expand sequences into columns (DataFrame)
def row_stats(row):
    a = row['A']
    b = row['B']
    return (a + b, a - b)   # 2-tuple → will expand

print("Apply row_stats with result_type='expand' to convert tuples to columns:")
print(df.apply(row_stats, axis=1, result_type='expand'))
print()

# Example D: passing additional args via args=()
def add_scalar(col, scalar):
    """Add scalar to column (works when apply passes Series col)."""
    return col + scalar

print("Apply add_scalar to each column with args=(5,):")
print(df[['A','B']].apply(add_scalar, args=(5,)))   # only numeric columns shown for clarity
print()


# ============================================================
# 2) Series.apply(func, convert_dtype=True, args=(), **kwargs)
# - Applies function elementwise to Series values (or a ufunc to whole Series).
# - convert_dtype: try to coerce result to a better dtype (default True).
# ============================================================

print("\n=== 2) Series.apply examples ===\n")

s = pd.Series([1, 4, 9, 16])

# Apply sqrt elementwise (function receives scalar)
print("Series.apply with sqrt (elementwise):")
print(s.apply(np.sqrt))   # equivalent to s.map(np.sqrt) for elementwise
print()

# Using a Python function with args
def power(x, p=2):
    return x ** p

print("Series.apply with custom function + args (p=3):")
print(s.apply(power, p=3))   # passing keyword arg works too (via kwargs)
print()

# Note: for vectorized NumPy ufuncs prefer calling ufunc on Series directly (faster):
print("Direct NumPy ufunc (faster) - np.sqrt(s):")
print(np.sqrt(s))
print()


# ============================================================
# Using.values()
# ============================================================
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df['add'] = np.sum(df[['A', 'B', 'C']].values, axis=1)


# ============================================================
# 3) DataFrame.agg / agg (aggregate) — flexible aggregations
# - Accepts function name string, function, list of functions, or dict mapping column->functions
# - Aggregation is performed over an axis (default axis=0 meaning aggregate each column)

# df.select_dtypes(include='number').aggregate(['sum', 'min'])
# ============================================================

print("\n=== 3) DataFrame.agg examples ===\n")

print("Column-wise mean and sum using a list of functions:")
print(df[['A','B']].agg(['mean', 'sum']))    # returns DataFrame with rows = agg names, cols = original columns
print()

print("Different aggregations per column using dict:")
print(df.agg({'A': ['mean', 'min'], 'B': ['mean', 'std']}))
print()

# Apply a named aggregation (useful with groupby too) — here on full DataFrame
print("Named-style aggregation producing a flat column MultiIndex (example):")
print(df.agg(A_mean=('A', 'mean'), B_sum=('B', 'sum')))
print()


# ============================================================
# pd.date_range()
# ============================================================

# importing pandas as pd
import pandas as pd

# Creating the Series
sr = pd.Series([11, 21, 8, 18, 65, 18, 32, 10, 5, 32, None])

# Create the Index
# apply yearly frequency
index_ = pd.date_range('2010-10-09 08:45', periods = 11, freq ='Y')

# set the index
sr.index = index_

# Print the series
print(sr)


# ============================================================
# 4) mean() — Series.mean() and DataFrame.mean()
# - Parameters: axis, skipna (default True), numeric_only, level, etc.
# ============================================================

print("\n=== 4) mean() examples ===\n")

print("Mean of column A:", df['A'].mean())
print("Mean across columns for each row (numeric only):")
print(df[['A','B']].mean(axis=1))   # axis=1 computes per-row mean (over columns)


# ============================================================
# 5) mad() — mean absolute deviation
# - NOTE: pandas.DataFrame.mad and Series.mad are deprecated in recent pandas versions.
# - Manual equivalent: (s - s.mean()).abs().mean()
# ============================================================

print("\n=== 5) MAD (mean absolute deviation) examples ===\n")

s2 = pd.Series([2.0, 4.0, 4.0, 6.0, 8.0])

# Manual MAD (preferred since mad() deprecation)
mad_manual = (s2 - s2.mean()).abs().mean()
print("Manual MAD for s2:", mad_manual)

# If mad() is available in your pandas version you could call s2.mad(), but prefer manual form for compatibility.
print("Equivalent expression: (s - s.mean()).abs().mean()")
print()


# ============================================================
# 6) sem() — standard error of the mean
# - DataFrame.sem() / Series.sem()
# - Parameters include: axis, skipna=True, ddof=1 (delta degrees of freedom), numeric_only
# - sem = std / sqrt(N) (with ddof affecting std)
# ============================================================
print("\n=== 6) sem() examples ===\n")

print("Standard error of column A (Series.sem):", df['A'].sem())   # ddof default 1
print("Standard error across rows (DataFrame.sem axis=1):\n", df[['A','B']].sem(axis=1))
print()


# ============================================================
# 7) Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)
# - Returns counts of unique values as a Series (descending by count by default)
# ============================================================
print("\n=== 7) value_counts() examples ===\n")

print("Value counts for column C:")
print(df['C'].value_counts())   # counts of 'x','y','z'
print("Relative frequencies (normalize=True):")
print(df['C'].value_counts(normalize=True))
print()


# ============================================================
# 8) apply with lambda across rows/columns + applymap (elementwise)
# - Use df.apply(lambda row: ..., axis=1) for row-wise single-row functions
# - Use df.applymap(func) to apply elementwise to each entry of DataFrame
# ============================================================
print("\n=== 8) apply with lambda and applymap ===\n")

# Row-wise: create summary column by combining A and B
df['A_plus_B'] = df.apply(lambda r: (r['A'] + (r['B'] if pd.notna(r['B']) else 0)), axis=1)
print("After row-wise lambda (A + B with NaN safe):\n", df[['A','B','A_plus_B']], "\n")

# Elementwise via applymap: convert numeric cells to strings with 'v=' prefix
def prefix_v(x):
    # apply only to numeric-ish values; leave strings as-is
    if isinstance(x, (int, float, np.integer, np.floating)):
        return f"v={x}"
    return x

print("Elementwise applymap example (numeric -> 'v=...'):")
print(df[['A','B']].applymap(prefix_v))
print()

# NOTE: prefer vectorized operations (df['A'] + df['B']) for speed where possible instead of row-wise apply.


# ============================================================
# 9) Performance notes and tips (short)
# - Series.apply and DataFrame.apply can call Python code per-element/row/col -> slower than vectorized ops
# - Use NumPy ufuncs directly on Series when possible (np.sqrt(series)), or vectorized pandas ops (df['A'] + 5)
# - Use apply/agg for flexible transformations/aggregations when vectorized ops are not available
# ============================================================
print("\n=== 9) Performance tips ===\n")
print("- Prefer vectorized pandas/NumPy operations for speed.")
print("- Use apply/agg when you need custom Python-level logic.")
print("- For elementwise scalar transformations use Series.map/.apply for clarity (but still Python-level).")
print()

print("=== DONE: pandas apply/agg examples ===\n")

=== SETUP SAMPLE DATA ===

Sample DataFrame:
     A    B  C
0  10  1.5  x
1  20  2.5  y
2  30  3.5  x
3  40  NaN  z


=== 1) DataFrame.apply examples ===

Apply row_sum to each row (axis=1):
0    11.5
1    22.5
2    33.5
3    40.0
dtype: float64

Apply row_stats with result_type='expand' to convert tuples to columns:
      0     1
0  11.5   8.5
1  22.5  17.5
2  33.5  26.5
3   NaN   NaN

Apply add_scalar to each column with args=(5,):
    A    B
0  15  6.5
1  25  7.5
2  35  8.5
3  45  NaN


=== 2) Series.apply examples ===

Series.apply with sqrt (elementwise):
0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

Series.apply with custom function + args (p=3):
0       1
1      64
2     729
3    4096
dtype: int64

Direct NumPy ufunc (faster) - np.sqrt(s):
0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64


=== 3) DataFrame.agg examples ===

Column-wise mean and sum using a list of functions:
        A     B
mean  2.0   5.0
sum   6.0  15.0

Different aggregations per column using dict:
        A    B
mean  2.0  5.0
min   1.0  NaN
std   NaN  1.0

Named-style aggregation producing a flat column MultiIndex (example):
          A     B
A_mean  2.0   NaN
B_sum   NaN  15.0

2010-12-31 08:45:00    11.0
2011-12-31 08:45:00    21.0
2012-12-31 08:45:00     8.0
2013-12-31 08:45:00    18.0
2014-12-31 08:45:00    65.0
2015-12-31 08:45:00    18.0
2016-12-31 08:45:00    32.0
2017-12-31 08:45:00    10.0
2018-12-31 08:45:00     5.0
2019-12-31 08:45:00    32.0
2020-12-31 08:45:00     NaN
Freq: YE-DEC, dtype: float64

=== 4) mean() examples ===

Mean of column A: 2.0
Mean across columns for each row (numeric only):
0    2.5
1    3.5
2    4.5
dtype: float64

=== 5) MAD (mean absolute deviation) examples ===

Manual MAD for s2: 1.7600000000000002
Equivalent expression: (s - s.mean()).abs().mean()


=== 6) sem() examples ===

Standard error of column A (Series.sem): 0.5773502691896258
Standard error across rows (DataFrame.sem axis=1):
 0    1.5
1    1.5
2    1.5
dtype: float64


=== 7) value_counts() examples ===

Value counts for column C:
C
7    1
8    1
9    1
Name: count, dtype: int64
Relative frequencies (normalize=True):
C
7    0.333333
8    0.333333
9    0.333333
Name: proportion, dtype: float64


=== 8) apply with lambda and applymap ===

After row-wise lambda (A + B with NaN safe):
    A  B  A_plus_B
0  1  4         5
1  2  5         7
2  3  6         9

Elementwise applymap example (numeric -> 'v=...'):
     A    B
0  v=1  v=4
1  v=2  v=5
2  v=3  v=6


=== 9) Performance tips ===

- Prefer vectorized pandas/NumPy operations for speed.
- Use apply/agg when you need custom Python-level logic.
- For elementwise scalar transformations use Series.map/.apply for clarity (but still Python-level).

=== DONE: pandas apply/agg examples ===

C:\Users\himan\AppData\Local\Temp\ipykernel_22376\65394896.py:134: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  index_ = pd.date_range('2010-10-09 08:45', periods = 11, freq ='Y')
C:\Users\himan\AppData\Local\Temp\ipykernel_22376\65394896.py:219: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df[['A','B']].applymap(prefix_v))

Function	Description

DataFrame.iat[]	Access a single value for a row/column pair by integer position.

DataFrame.pop()	Return item and drop from DataFrame.

DataFrame.xs() Return a cross-section (row(s) or column(s)) from the DataFrame.

DataFrame.get()	Get item from object for given key (e.g DataFrame column).

DataFrame.isin()	Return a boolean DataFrame showing whether each element is contained in values.

DataFrame.where()	Return an object of the same shape with entries from self where cond is True otherwise from other.

DataFrame.mask()	Return an object of the same shape with entries from self where cond is False otherwise from other.

DataFrame.insert()	Insert a column into DataFrame at a specified location.

=================================================================

In Python Pandas, we have the freedom to add different functions whenever needed like lambda function, sort function, etc. We can apply a lambda function to both the columns and rows of the Pandas data frame.

Syntax: lambda arguments: expression

An anonymous function which we can pass in instantly without defining a name or any thing like a full traditional function.

Applying Lambda Functions to Pandas
Below are some methods and ways by which we can apply lambda functions to Pandas:

Dataframe.assign() on a Single Column
Dataframe.assign() on Multiple Columns
Dataframe.apply() on a Single Row
Dataframe.apply() on Multiple Rows
Lambda Function on Multiple Rows and Columns Simultaneously
Dataframe.assign() on a Single Column
In this example, we will apply the lambda function Dataframe.assign() to a single column. The function is applied to the 'Total_Marks' column, and a new column 'Percentage' is formed with its help.

In [22]:
# importing pandas library
import pandas as pd
 
# creating and initializing a list
values= [['Rohan',455],['Elvish',250],['Deepak',495],
         ['Soni',400],['Radhika',350],['Vansh',450]] 

# creating a pandas dataframe
df = pd.DataFrame(values,columns=['Name','Total_Marks'])

# Applying lambda function to find 
# percentage of 'Total_Marks' column 
# using df.assign()
df = df.assign(Percentage = lambda x: (x['Total_Marks'] /500 * 100))

# displaying the data frame
df

      Name  Total_Marks  Percentage
0    Rohan          455        91.0
1   Elvish          250        50.0
2   Deepak          495        99.0
3     Soni          400        80.0
4  Radhika          350        70.0
5    Vansh          450        90.0

In [27]:
# importing pandas and numpy libraries
import pandas as pd
import numpy as np

# creating and initializing a nested list
values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80],
               [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90], 
               [51, 2.3, 111]]

# creating a pandas dataframe
df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

print(df)
# Apply function numpy.square() to square
# the values of one row only i.e. row 
# with index name 'd'
df = df.apply(lambda x: np.square(x) if x.name == 'd' else x, axis=1)


# printing dataframe
print(df)

   Field_1  Field_2  Field_3
a       15      2.5      100
b       20      4.5       50
c       25      5.2       80
d       45      5.8       48
e       40      6.3       70
f       41      6.4       90
g       51      2.3      111
   Field_1  Field_2  Field_3
a     15.0     2.50    100.0
b     20.0     4.50     50.0
c     25.0     5.20     80.0
d   2025.0    33.64   2304.0
e     40.0     6.30     70.0
f     41.0     6.40     90.0
g     51.0     2.30    111.0

## Data Manipulation and Grouping

1. https://www.geeksforgeeks.org/pandas/adding-new-column-to-existing-dataframe-in-pandas/

2. https://www.geeksforgeeks.org/python/python-delete-rows-columns-from-dataframe-using-pandas-drop/

3. https://www.geeksforgeeks.org/python/python-pandas-dataframe-truncate/

4. https://www.geeksforgeeks.org/pandas/python-pandas-series-truncate/

5. https://www.geeksforgeeks.org/data-analysis/iterating-over-rows-and-columns-in-pandas-dataframe/

6. https://www.geeksforgeeks.org/pandas/python-pandas-dataframe-sort_values-set-1/

7. https://www.geeksforgeeks.org/python/python-pandas-dataframe-sort_values-set-2/

8. https://www.geeksforgeeks.org/pandas/how-to-add-one-row-in-an-existing-pandas-dataframe/

9. https://www.geeksforgeeks.org/pandas/pandas-groupby/

10. https://www.geeksforgeeks.org/python/grouping-rows-in-pandas/

11. https://www.geeksforgeeks.org/pandas/combining-multiple-columns-in-pandas-groupby-with-dictionary/

In [ ]:
# pandas_rows_cols_groupby_examples.py
# Demonstrates: add/drop/truncate/iterate/sort/add-row/groupby and multi-column aggregations.
# All examples are top-level, well-spaced, and include short explanatory comments.

import pandas as pd
import numpy as np

print("\n=== SETUP: sample DataFrame ===\n")

df = pd.DataFrame({
    'Dept' : ['HR', 'HR', 'Eng', 'Eng', 'Sales', 'Sales'],
    'Name' : ['Alice','Bob','Charlie','David','Eve','Frank'],
    'Age'  : [25, 30, 28, 40, 35, 29],
    'Salary':[50000, 52000, 80000, 95000, 60000, 62000],
    'Months':[12, 10, 8, 20, 6, 9]
})
print("Original DF:\n", df, "\n")


# ============================
# 1) ADDING NEW COLUMN(S)
# ============================
# Methods:
#  - vectorized assignment: df['new'] = <scalar|Series|array>
#  - assign(): returns new DataFrame (chainable)
#  - insert(): insert at specific column position

print("=== 1) ADD NEW COLUMNS ===\n")

# Add column with scalar (same value for all rows)
df['Country'] = 'India'   # simple assignment
print("After adding scalar column 'Country':\n", df, "\n")

# Add column using vectorized expression (based on other columns)
# e.g., monthly salary estimate = Salary / 12
df['Monthly_Est'] = df['Salary'] / 12.0
print("Added 'Monthly_Est' computed from Salary:\n", df[['Name','Salary','Monthly_Est']], "\n")

# Using assign() (does NOT modify in-place unless assigned)
df2 = df.assign(Salary_k = df['Salary'] / 1000.0)   # returns new DF with extra column
print("Using assign() to add 'Salary_k' (thousands):\n", df2[['Name','Salary_k']].head(), "\n")

# Insert column at specific position: insert(loc, column, value)
df.insert(2, 'Seniority', ['Jr','Jr','Mid','Sr','Mid','Mid'])  # insert as 3rd column (0-based)
print("After df.insert(..., 'Seniority', ...):\n", df.head(), "\n")


# ============================
# 2) DROP ROWS / COLUMNS
# ============================
# df.drop(labels=None, axis=0, index=None, columns=None, inplace=False)
# - axis=0 drop rows, axis=1 drop columns
# - inplace=False returns a new DF; inplace=True modifies original (not recommended)
print("=== 2) DROP ROWS / COLUMNS ===\n")

# Drop a column by name (returns a copy)
dropped = df.drop(columns=['Months'])
print("Dropped 'Months' column (copy):\n", dropped.columns.tolist(), "\n")

# Drop a row by index label (here default index 0..n-1)
df_droprow = df.drop(index=1)   # drop row with index 1 (Bob)
print("Drop row index 1 (Bob):\n", df_droprow, "\n")

# Drop multiple rows / columns
df_drop_multi = df.drop(index=[0,4], columns=['Country'])
print("Drop rows 0 and 4, and column 'Country':\n", df_drop_multi, "\n")


# ============================
# 3) TRUNCATE (DataFrame & Series)
# ============================
# df.truncate(before=None, after=None, axis=None, copy=True)
# - cuts off the DataFrame before/after given index labels (inclusive)
# - useful when working with a labeled index (time series); with default integer index it works too
print("=== 3) TRUNCATE ===\n")

# For demonstration, set index to Name so truncate uses labels
df_idx = df.set_index('Name')
print("Indexed by Name:\n", df_idx, "\n")
# Truncate between 'Bob' and 'Eve' inclusive (label-based)
trunc = df_idx.truncate(before='Bob', after='Eve')   # includes Bob..Eve
print("df_idx.truncate(before='Bob', after='Eve'):\n", trunc, "\n")

# Series.truncate works similarly on a Series:
s = pd.Series(np.arange(10), index=[f'R{i}' for i in range(10)])
print("Series truncate example (R2..R5):\n", s.truncate('R2','R5'), "\n")


# ============================
# 4) ITERATING OVER ROWS & COLUMNS
# ============================
# Recommended: avoid Python-level iteration when possible (use vectorized ops).
# But when necessary:
#  - df.iterrows(): yields (index, Series) per row (makes a copy of row -> slower)
#  - df.itertuples(): yields namedtuples per row (faster)
#  - for columns: for col in df.columns: df[col]  (vectorized)
print("=== 4) ITERATING ROWS & COLUMNS ===\n")

print("Using iterrows() (not recommended for heavy loops):")
for idx, row in df.head(3).iterrows():
    print("index:", idx, "Name:", row['Name'], "Salary:", row['Salary'])
print()

print("Using itertuples() (faster):")
for row in df.head(3).itertuples(index=True, name='Emp'):
    # access by attribute: row.Name row.Salary
    print(row)
print()

print("Iterating columns (column names):")
for col in df.columns:
    print("col:", col, "dtype:", df[col].dtype)
print()


# ============================
# 5) SORT_VALUES (single & multi-column)
# ============================
# df.sort_values(by, axis=0, ascending=True, inplace=False, na_position='last')
# - by: column label or list of labels
# - ascending: bool or list for multi-column
# - na_position: 'first' or 'last'
print("=== 5) SORT_VALUES ===\n")

# Sort by single column ascending
print("Sort by Age ascending:\n", df.sort_values(by='Age')[['Name','Age']], "\n")

# Sort by Salary descending
print("Sort by Salary descending:\n", df.sort_values(by='Salary', ascending=False)[['Name','Salary']], "\n")

# Multi-column sort: by Dept then Salary descending
print("Sort by Dept ascending, Salary descending:\n",
      df.sort_values(by=['Dept','Salary'], ascending=[True, False])[['Dept','Name','Salary']], "\n")

# Stable sort and na_position example
df_with_na = df.copy()
df_with_na.loc[2,'Salary'] = np.nan
print("Sort with NaN salary (na_position='first'):\n", df_with_na.sort_values('Salary', na_position='first')[['Name','Salary']], "\n")


# ============================
# 6) ADDING ONE ROW (several safe methods)
# ============================
# Methods:
#  - loc (if index label unused): df.loc[new_label] = values
#  - pd.concat([df, pd.DataFrame([row_dict])], ignore_index=True) (recommended)
#  - append() was deprecated; use concat
print("=== 6) ADD ONE ROW ===\n")

# Using concat (recommended; avoids SettingWithCopy/warnings)
new_row = {'Dept':'Eng','Name':'Grace','Age':27,'Salary':70000,'Months':7,'Country':'India','Seniority':'Jr','Monthly_Est':70000/12.0}
df_added = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True, sort=False)
print("After pd.concat to add one row:\n", df_added.tail(3), "\n")

# Using loc with integer index (only if index label is managed carefully)
df_loc = df.copy()
next_idx = df_loc.index.max() + 1
df_loc.loc[next_idx] = ['QA','Hank',31,55000,11,'India','Mid',55000/12.0]  # careful: matching column order
print("After df.loc[...] = ... (added one row):\n", df_loc.tail(3), "\n")


# ============================
# 7) GROUPBY: basic grouping & aggregations
# ============================
# df.groupby(by, axis=0, level=None, as_index=True, sort=True)
# - by: column label(s) or mapping, or list of labels
# - as_index: when True (default) group labels become index in result
# After groupby you can call: .sum(), .mean(), .agg(), .size(), .count(), .apply(), etc.
print("=== 7) GROUPBY BASIC ===\n")

g = df.groupby('Dept')   # Group by Dept column
print("Group keys:", list(g.groups.keys()))
print("\nGroup sizes (number of rows per Dept):\n", g.size(), "\n")

print("Group mean of numeric columns:\n", g.mean(numeric_only=True), "\n")
print("Group sum of Salary:\n", g['Salary'].sum(), "\n")


# ============================
# 8) GROUPING ROWS (different examples)
# ============================
print("=== 8) GROUPING ROWS EXAMPLES ===\n")

# groupby multiple columns
g2 = df.groupby(['Dept','Seniority'])
print("Group sizes by Dept and Seniority:\n", g2.size(), "\n")

# iterate groups (group_name, group_df)
for name, group in g:
    print("Dept:", name, "-> rows:\n", group[['Name','Salary']].to_string(index=False))
print()

# groupby then access a specific group's DataFrame
eng_group = g.get_group('Eng')
print("Group 'Eng' rows:\n", eng_group, "\n")


# ============================
# 9) COMBINING MULTIPLE COLUMNS IN GROUPBY WITH DICTIONARY AGGREGATIONS
# ============================
# df.groupby('key').agg({'col1': ['mean','sum'], 'col2': 'max', 'col3': ['min','count']})
# - Pass a dict mapping column_name -> single agg or list of aggs
# - You can also pass named aggregations (pandas >= 0.25) like: df.groupby('Dept').agg(avg_sal=('Salary','mean'))
print("=== 9) GROUPBY with dict aggregations (multi-agg per column) ===\n")

agg_result = df.groupby('Dept').agg({
    'Salary': ['mean','sum','max'],     # for Salary compute mean, sum, max
    'Age': 'mean',                      # for Age just mean
    'Months': ['sum','count']           # for Months compute sum and count
})
print("Agg result with MultiIndex columns:\n", agg_result, "\n")

# Named aggregations (flat columns, more readable)
agg_named = df.groupby('Dept').agg(
    avg_salary = ('Salary','mean'),
    total_salary = ('Salary','sum'),
    max_salary = ('Salary','max'),
    headcount = ('Name','count'),
    avg_months = ('Months','mean')
)
print("Named aggregation (flat columns):\n", agg_named, "\n")


# ============================
# 10) EXTRA: useful groupby helpers
# ============================
print("=== 10) Groupby helpers & tips ===\n")
print("- g.size()     : number of rows per group")
print("- g.count()    : non-NA counts per column per group")
print("- g.describe() : descriptive stats per group")
print("- g.agg(...)   : flexible aggregation (strings, callables, lists, dict)")
print("- Use as_index=False in groupby to keep group keys as columns instead of index\n")

# Example: groupby with as_index=False to get group keys as columns
print("groupby with as_index=False result:\n", df.groupby('Dept', as_index=False)['Salary'].mean(), "\n")


print("=== DONE: rows/cols/groupby examples ===\n")

=== SETUP: sample DataFrame ===

Original DF:
     Dept     Name  Age  Salary  Months
0     HR    Alice   25   50000      12
1     HR      Bob   30   52000      10
2    Eng  Charlie   28   80000       8
3    Eng    David   40   95000      20
4  Sales      Eve   35   60000       6
5  Sales    Frank   29   62000       9

=== 1) ADD NEW COLUMNS ===

After adding scalar column 'Country':
     Dept     Name  Age  Salary  Months Country
0     HR    Alice   25   50000      12   India
1     HR      Bob   30   52000      10   India
2    Eng  Charlie   28   80000       8   India
3    Eng    David   40   95000      20   India
4  Sales      Eve   35   60000       6   India
5  Sales    Frank   29   62000       9   India

Added 'Monthly_Est' computed from Salary:
       Name  Salary  Monthly_Est
0    Alice   50000  4166.666667
1      Bob   52000  4333.333333
2  Charlie   80000  6666.666667
3    David   95000  7916.666667
4      Eve   60000  5000.000000
5    Frank   62000  5166.666667

Using assign() to add 'Salary_k' (thousands):
       Name  Salary_k
0    Alice      50.0
1      Bob      52.0
2  Charlie      80.0
3    David      95.0
4      Eve      60.0

After df.insert(..., 'Seniority', ...):
     Dept     Name Seniority  Age  Salary  Months Country  Monthly_Est
0     HR    Alice        Jr   25   50000      12   India  4166.666667
1     HR      Bob        Jr   30   52000      10   India  4333.333333
2    Eng  Charlie       Mid   28   80000       8   India  6666.666667
3    Eng    David        Sr   40   95000      20   India  7916.666667
4  Sales      Eve       Mid   35   60000       6   India  5000.000000

=== 2) DROP ROWS / COLUMNS ===

Dropped 'Months' column (copy):
 ['Dept', 'Name', 'Seniority', 'Age', 'Salary', 'Country', 'Monthly_Est']

Drop row index 1 (Bob):
     Dept     Name Seniority  Age  Salary  Months Country  Monthly_Est
0     HR    Alice        Jr   25   50000      12   India  4166.666667
2    Eng  Charlie       Mid   28   80000       8   India  6666.666667
3    Eng    David        Sr   40   95000      20   India  7916.666667
4  Sales      Eve       Mid   35   60000       6   India  5000.000000
5  Sales    Frank       Mid   29   62000       9   India  5166.666667

Drop rows 0 and 4, and column 'Country':
     Dept     Name Seniority  Age  Salary  Months  Monthly_Est
1     HR      Bob        Jr   30   52000      10  4333.333333
2    Eng  Charlie       Mid   28   80000       8  6666.666667
3    Eng    David        Sr   40   95000      20  7916.666667
5  Sales    Frank       Mid   29   62000       9  5166.666667

=== 3) TRUNCATE ===

Indexed by Name:
           Dept Seniority  Age  Salary  Months Country  Monthly_Est
Name
Alice       HR        Jr   25   50000      12   India  4166.666667
Bob         HR        Jr   30   52000      10   India  4333.333333
Charlie    Eng       Mid   28   80000       8   India  6666.666667
David      Eng        Sr   40   95000      20   India  7916.666667
Eve      Sales       Mid   35   60000       6   India  5000.000000
Frank    Sales       Mid   29   62000       9   India  5166.666667

df_idx.truncate(before='Bob', after='Eve'):
           Dept Seniority  Age  Salary  Months Country  Monthly_Est
Name
Bob         HR        Jr   30   52000      10   India  4333.333333
Charlie    Eng       Mid   28   80000       8   India  6666.666667
David      Eng        Sr   40   95000      20   India  7916.666667
Eve      Sales       Mid   35   60000       6   India  5000.000000

Series truncate example (R2..R5):
 R2    2
R3    3
R4    4
R5    5
dtype: int64

=== 4) ITERATING ROWS & COLUMNS ===

Using iterrows() (not recommended for heavy loops):
index: 0 Name: Alice Salary: 50000
index: 1 Name: Bob Salary: 52000
index: 2 Name: Charlie Salary: 80000

Using itertuples() (faster):
Emp(Index=0, Dept='HR', Name='Alice', Seniority='Jr', Age=25, Salary=50000, Months=12, Country='India', Monthly_Est=4166.666666666667)
Emp(Index=1, Dept='HR', Name='Bob', Seniority='Jr', Age=30, Salary=52000, Months=10, Country='India', Monthly_Est=4333.333333333333)
Emp(Index=2, Dept='Eng', Name='Charlie', Seniority='Mid', Age=28, Salary=80000, Months=8, Country='India', Monthly_Est=6666.666666666667)

Iterating columns (column names):
col: Dept dtype: object
col: Name dtype: object
col: Seniority dtype: object
col: Age dtype: int64
col: Salary dtype: int64
col: Months dtype: int64
col: Country dtype: object
col: Monthly_Est dtype: float64

=== 5) SORT_VALUES ===

Sort by Age ascending:
       Name  Age
0    Alice   25
2  Charlie   28
5    Frank   29
1      Bob   30
4      Eve   35
3    David   40

Sort by Salary descending:
       Name  Salary
3    David   95000
2  Charlie   80000
5    Frank   62000
4      Eve   60000
1      Bob   52000
0    Alice   50000

Sort by Dept ascending, Salary descending:
     Dept     Name  Salary
3    Eng    David   95000
2    Eng  Charlie   80000
1     HR      Bob   52000
0     HR    Alice   50000
5  Sales    Frank   62000
4  Sales      Eve   60000

Sort with NaN salary (na_position='first'):
       Name   Salary
2  Charlie      NaN
0    Alice  50000.0
1      Bob  52000.0
4      Eve  60000.0
5    Frank  62000.0
3    David  95000.0

=== 6) ADD ONE ROW ===

After pd.concat to add one row:
     Dept   Name Seniority  Age  Salary  Months Country  Monthly_Est
4  Sales    Eve       Mid   35   60000       6   India  5000.000000
5  Sales  Frank       Mid   29   62000       9   India  5166.666667
6    Eng  Grace        Jr   27   70000       7   India  5833.333333

After df.loc[...] = ... (added one row):
     Dept   Name Seniority    Age  Salary Months Country  Monthly_Est
4  Sales    Eve       Mid     35   60000      6   India  5000.000000
5  Sales  Frank       Mid     29   62000      9   India  5166.666667
6     QA   Hank        31  55000      11  India     Mid  4583.333333

=== 7) GROUPBY BASIC ===

Group keys: ['Eng', 'HR', 'Sales']

Group sizes (number of rows per Dept):
 Dept
Eng      2
HR       2
Sales    2
dtype: int64

Group mean of numeric columns:
         Age   Salary  Months  Monthly_Est
Dept
Eng    34.0  87500.0    14.0  7291.666667
HR     27.5  51000.0    11.0  4250.000000
Sales  32.0  61000.0     7.5  5083.333333

Group sum of Salary:
 Dept
Eng      175000
HR       102000
Sales    122000
Name: Salary, dtype: int64

=== 8) GROUPING ROWS EXAMPLES ===

Group sizes by Dept and Seniority:
 Dept   Seniority
Eng    Mid          1
       Sr           1
HR     Jr           2
Sales  Mid          2
dtype: int64

Dept: Eng -> rows:
    Name  Salary
Charlie   80000
  David   95000
Dept: HR -> rows:
  Name  Salary
Alice   50000
  Bob   52000
Dept: Sales -> rows:
  Name  Salary
  Eve   60000
Frank   62000

Group 'Eng' rows:
   Dept     Name Seniority  Age  Salary  Months Country  Monthly_Est
2  Eng  Charlie       Mid   28   80000       8   India  6666.666667
3  Eng    David        Sr   40   95000      20   India  7916.666667

=== 9) GROUPBY with dict aggregations (multi-agg per column) ===

Agg result with MultiIndex columns:
         Salary                  Age Months
          mean     sum    max  mean    sum count
Dept
Eng    87500.0  175000  95000  34.0     28     2
HR     51000.0  102000  52000  27.5     22     2
Sales  61000.0  122000  62000  32.0     15     2

Named aggregation (flat columns):
        avg_salary  total_salary  max_salary  headcount  avg_months
Dept
Eng       87500.0        175000       95000          2        14.0
HR        51000.0        102000       52000          2        11.0
Sales     61000.0        122000       62000          2         7.5

=== 10) Groupby helpers & tips ===

- g.size()     : number of rows per group
- g.count()    : non-NA counts per column per group
- g.describe() : descriptive stats per group
- g.agg(...)   : flexible aggregation (strings, callables, lists, dict)
- Use as_index=False in groupby to keep group keys as columns instead of index

groupby with as_index=False result:
     Dept   Salary
0    Eng  87500.0
1     HR  51000.0
2  Sales  61000.0

=== DONE: rows/cols/groupby examples ===

## Merging | Joining | Concatination | Comparing

1. https://www.geeksforgeeks.org/python/python-pandas-merging-joining-and-concatenating/

2. https://www.geeksforgeeks.org/python/python-pandas-series-str-cat-to-concatenate-string/

3. https://www.geeksforgeeks.org/python/python-pandas-dataframe-append/

4. https://www.geeksforgeeks.org/pandas/python-pandas-series-append/

5. https://www.geeksforgeeks.org/python/python-pandas-index-append/

6. https://www.geeksforgeeks.org/python/python-pandas-series-combine/

7. https://www.geeksforgeeks.org/python/add-a-row-at-top-in-pandas-dataframe/

8. https://www.geeksforgeeks.org/python/python-pandas-str-join-to-join-string-list-elements-with-passed-delimiter/

9. https://www.geeksforgeeks.org/python/join-two-text-columns-into-a-single-column-in-pandas/

10. https://www.geeksforgeeks.org/python/how-to-compare-two-dataframes-with-pandas-compare/

11. https://www.geeksforgeeks.org/python/how-to-compare-the-elements-of-the-two-pandas-series/

In [2]:
# pandas_merge_concat_compare.py
# Demonstrates DataFrame/DataSeries merging/joining/concatenation, string concatenation,
# append alternatives, index append note, Series.combine, adding a row at top,
# and comparison functions (DataFrame.compare, Series.compare, elementwise).
#
# All examples are top-level and include comments explaining what each function does
# and its important parameters.

import pandas as pd
import numpy as np

print("\n=== SETUP: sample DataFrames & Series ===\n")

left = pd.DataFrame({
    'key': ['K0','K1','K2','K3'],
    'A'  : ['A0','A1','A2','A3'],
    'B'  : ['B0','B1','B2','B3']
})

right = pd.DataFrame({
    'key': ['K0','K1','K2','K4'],
    'C'  : ['C0','C1','C2','C4'],
    'D'  : ['D0','D1','D2','D4']
})

print("left:\n", left, "\n")
print("right:\n", right, "\n")

# ============================================================
# 1) MERGE / JOIN (database-style joins)
# ============================================================
# pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, suffixes=('_x','_y'))
# - how: 'left','right','outer','inner' (inner = intersection)
# - on: column name(s) to join on when both frames share same name
# - left_on/right_on: use when join keys have different names
# - suffixes: suffixes for overlapping column names
print("=== 1) pd.merge examples ===\n")

# Inner join on 'key' (default how='inner')
m_inner = pd.merge(left, right, on='key', how='inner', suffixes=('_L','_R'))
print("Inner merge on 'key' (intersection rows):\n", m_inner, "\n")

# Left join (keep all rows from left)
m_left = pd.merge(left, right, on='key', how='left')
print("Left merge (all left rows, matched right columns filled NaN):\n", m_left, "\n")

# Outer join (union of keys)
m_outer = pd.merge(left, right, on='key', how='outer', sort=True)
print("Outer merge (union of keys):\n", m_outer, "\n")

# Merge on different key names example
L2 = left.rename(columns={'key':'lkey'})
R2 = right.rename(columns={'key':'rkey'})
m_diff = pd.merge(L2, R2, left_on='lkey', right_on='rkey', how='inner')
print("Merge with different key names (left_on, right_on):\n", m_diff, "\n")


# ============================================================
# 2) JOIN method on DataFrame (join on index)
# ============================================================
# df.join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False)
# - joins columns of other to df by index (or on=column to use column on left as key)
print("=== 2) DataFrame.join (index-wise) ===\n")

left_idx = left.set_index('key')
right_idx = right.set_index('key')

# left_idx.join(right_idx, how='left') is like SQL left join on index
joined = left_idx.join(right_idx, how='left', lsuffix='_L', rsuffix='_R')
print("Index-join (left_index.join(right_index)):\n", joined.reset_index(), "\n")


# ============================================================
# 3) CONCATENATION (pd.concat)
# ============================================================
# pd.concat(objs, axis=0, join='outer', ignore_index=False, keys=None)
# - axis=0 -> stack rows (one below another), axis=1 -> side-by-side (columns)
# - join: 'outer' union of columns, 'inner' intersection
# - ignore_index=True -> create new integer index
print("=== 3) pd.concat examples ===\n")

# Row-wise concatenation (stack rows) - axis=0
cat_rows = pd.concat([left, right.rename(columns={'key':'key'})], axis=0, sort=False, ignore_index=True)
print("Concat rows (axis=0) - stack DataFrames (columns union):\n", cat_rows, "\n")

# Column-wise concatenation (axis=1) - requires aligned index (or use ignore_index)
cat_cols = pd.concat([left.set_index('key'), right.set_index('key')], axis=1, join='outer')
print("Concat columns (axis=1) - side-by-side by index:\n", cat_cols.reset_index(), "\n")


# ============================================================
# 4) Series.str.cat and str.join (string concatenation)
# ============================================================
# Series.str.cat(others=None, sep=None, na_rep=None) -> concatenate strings in Series with others
# - others: Series, list-like of Series, or list-like of strings to concatenate elementwise
# - sep: separator between parts
# - na_rep: string representation for NA values (if you want to include them)
# str.join is Python's join; pandas also supports Series.str.join on lists stored in Series.
print("=== 4) String concatenation: Series.str.cat & str.join ===\n")

s_first = pd.Series(['John','Jane','Mary'])
s_last  = pd.Series(['Doe','Roe', None])

print("First:\n", s_first)
print("Last:\n", s_last)

# Concatenate first + ' ' + last; fill missing last name with empty string using na_rep
full = s_first.str.cat(s_last, sep=' ', na_rep='')
print("s_first.str.cat(s_last, sep=' ', na_rep='') ->", full.tolist())

# If a Series contains lists of strings, use str.join to join items within each row
s_lists = pd.Series([['a','b'], ['x','y','z'], []])
joined_within = s_lists.str.join('-')   # joins list elements with '-'
print("Series of lists joined within each element (str.join):", joined_within.tolist(), "\n")


# ============================================================
# 5) append() deprecation & alternatives (DataFrame.append/Series.append/Index.append)
# ============================================================
# DataFrame.append and Series.append are deprecated (and in newer pandas removed).
# Use pd.concat([...], ignore_index=...) instead.
print("=== 5) append() deprecated - use pd.concat instead ===\n")

dfA = pd.DataFrame({'x':[1,2]})
dfB = pd.DataFrame({'x':[3,4]})

# old: dfA.append(dfB, ignore_index=True)  # deprecated
df_concat = pd.concat([dfA, dfB], ignore_index=True)  # recommended
print("pd.concat([dfA, dfB], ignore_index=True):\n", df_concat, "\n")

# Index.append is also deprecated. Use Index.union or pd.concat for index objects.
ix1 = pd.Index([1,2,3])
ix2 = pd.Index([4,5])
# old: ix1.append(ix2)  # deprecated
ix_union = ix1.union(ix2)   # union keeps sorted unique values by default
print("Index union of ix1 and ix2 ->", ix_union.tolist(), "\n")


# ============================================================
# 6) Series.combine (elementwise combine two series via a function)
# ============================================================
# Series.combine(other, func, fill_value=None)
# - For each index label, if both present, apply func(s1_val, s2_val)
# - If one is missing, use fill_value (if provided) for missing side
# - returns a new Series aligned by union of indices
print("=== 6) Series.combine examples ===\n")

sA = pd.Series([10, np.nan, 30], index=['a','b','c'])
sB = pd.Series([1, 2, 3], index=['a','b','c'])
print("sA:\n", sA)
print("sB:\n", sB)

# combine by custom function: choose max of two (with NaN handled by fill_value)
combined = sA.combine(sB, lambda x, y: max(x, y), fill_value=-np.inf)
print("sA.combine(sB, lambda x,y: max(x,y), fill_value=-inf):\n", combined, "\n")


# ============================================================
# 7) Add a row at the TOP of a DataFrame
# ============================================================
# Recommended: build a single-row DataFrame and pd.concat([new_row_df, df], ignore_index=...)
# Careful with column order and dtypes.
print("=== 7) Add a row at the TOP ===\n")

df_people = pd.DataFrame({'Name':['Alice','Bob'], 'Age':[25,30]})
new_top = pd.DataFrame([{'Name':'Zara','Age':20}])
df_with_top = pd.concat([new_top, df_people], ignore_index=True)  # new top row now index 0
print("Added row at top via concat:\n", df_with_top, "\n")


# ============================================================
# 8) str.join to join list elements or join columns into one string
# ============================================================
# To combine two text columns into single column use Series.str.cat or vectorized +
print("=== 8) Join two text columns into one ===\n")

df_names = pd.DataFrame({'first':['A','B'], 'last':['X','Y']})
# Using str.cat with separator
df_names['full'] = df_names['first'].str.cat(df_names['last'], sep=' ')
print("df_names with full name via str.cat:\n", df_names, "\n")

# Alternative: using vectorized string addition (handles NaN differently)
df_names['full2'] = df_names['first'] + ' ' + df_names['last']
print("Alternative full (vectorized +):\n", df_names, "\n")


# ============================================================
# 9) Compare DataFrames and Series
# ============================================================
# DataFrame.compare(other, align_axis=1, keep_shape=False, keep_equal=False)
# - returns the elementwise differences between two DataFrames in a compact form
# - keep_shape=True retains original shape filling unequal places with NaN
# - keep_equal=True shows also equal values (useful for debugging)
print("=== 9) DataFrame.compare and Series.compare ===\n")

df1 = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
df2 = pd.DataFrame({'A':[1,20,3], 'B':[4,50,6]})

print("df1:\n", df1, "\n")
print("df2:\n", df2, "\n")

# Compare to see elementwise differences (only differing elements shown by default)
cmp = df1.compare(df2)    # columns are MultiIndex: (col, 'self') and (col, 'other')
print("df1.compare(df2) -> differences only:\n", cmp, "\n")

# If you want the full shape with equal values retained:
cmp_full = df1.compare(df2, keep_shape=True, keep_equal=True)
print("df1.compare(df2, keep_shape=True, keep_equal=True):\n", cmp_full, "\n")

# Series.compare (pandas >= 1.1) works similarly for elementwise differences
s1 = pd.Series([1,2,3])
s2 = pd.Series([1,20,3])
print("s1.compare(s2):\n", s1.compare(s2), "\n")

# Other comparison helpers:
print("Elementwise equality (df1 == df2):\n", (df1 == df2), "\n")
print("Any differences per row: (df1 != df2).any(axis=1):\n", (df1 != df2).any(axis=1), "\n")


# ============================================================
# 10) Compare two Series: equality, elementwise diff, and combine
# ============================================================
# To compare and produce a custom output use combine or map
print("=== 10) Compare two Series in flexible ways ===\n")

sa = pd.Series([10, 20, np.nan, 40], index=['a','b','c','d'])
sb = pd.Series([10, 21, 30, 41], index=['a','b','c','d'])
print("sa:\n", sa)
print("sb:\n", sb, "\n")

# Elementwise difference (NaNs propagate)
print("Difference sa - sb:\n", sa - sb, "\n")

# Elementwise boolean equality (treat NaNs as not equal)
print("sa == sb ->\n", sa == sb, "\n")

# Using combine to choose which value to keep (example: prefer sa if equal else show tuple)
def compare_vals(x, y):
    if pd.isna(x) and pd.isna(y):
        return np.nan
    if x == y:
        return x
    return (x, y)

comp_series = sa.combine(sb, compare_vals)
print("sa.combine(sb, compare_vals) ->\n", comp_series, "\n")


# ============================================================
# DONE
# ============================================================
print("=== ALL EXAMPLES COMPLETE ===\n")

=== SETUP: sample DataFrames & Series ===

left:
   key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

right:
   key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K4  C4  D4

=== 1) pd.merge examples ===

Inner merge on 'key' (intersection rows):
   key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

Left merge (all left rows, matched right columns filled NaN):
   key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K1  A1  B1   C1   D1
2  K2  A2  B2   C2   D2
3  K3  A3  B3  NaN  NaN

Outer merge (union of keys):
   key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1   C1   D1
2  K2   A2   B2   C2   D2
3  K3   A3   B3  NaN  NaN
4  K4  NaN  NaN   C4   D4

Merge with different key names (left_on, right_on):
   lkey   A   B rkey   C   D
0   K0  A0  B0   K0  C0  D0
1   K1  A1  B1   K1  C1  D1
2   K2  A2  B2   K2  C2  D2

=== 2) DataFrame.join (index-wise) ===

Index-join (left_index.join(right_index)):
   key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K1  A1  B1   C1   D1
2  K2  A2  B2   C2   D2
3  K3  A3  B3  NaN  NaN

=== 3) pd.concat examples ===

Concat rows (axis=0) - stack DataFrames (columns union):
   key    A    B    C    D
0  K0   A0   B0  NaN  NaN
1  K1   A1   B1  NaN  NaN
2  K2   A2   B2  NaN  NaN
3  K3   A3   B3  NaN  NaN
4  K0  NaN  NaN   C0   D0
5  K1  NaN  NaN   C1   D1
6  K2  NaN  NaN   C2   D2
7  K4  NaN  NaN   C4   D4

Concat columns (axis=1) - side-by-side by index:
   key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1   C1   D1
2  K2   A2   B2   C2   D2
3  K3   A3   B3  NaN  NaN
4  K4  NaN  NaN   C4   D4

=== 4) String concatenation: Series.str.cat & str.join ===

First:
 0    John
1    Jane
2    Mary
dtype: object
Last:
 0     Doe
1     Roe
2    None
dtype: object
s_first.str.cat(s_last, sep=' ', na_rep='') -> ['John Doe', 'Jane Roe', 'Mary ']
Series of lists joined within each element (str.join): ['a-b', 'x-y-z', '']

=== 5) append() deprecated - use pd.concat instead ===

pd.concat([dfA, dfB], ignore_index=True):
    x
0  1
1  2
2  3
3  4

Index union of ix1 and ix2 -> [1, 2, 3, 4, 5]

=== 6) Series.combine examples ===

sA:
 a    10.0
b     NaN
c    30.0
dtype: float64
sB:
 a    1
b    2
c    3
dtype: int64
sA.combine(sB, lambda x,y: max(x,y), fill_value=-inf):
 a    10.0
b     NaN
c    30.0
dtype: float64

=== 7) Add a row at the TOP ===

Added row at top via concat:
     Name  Age
0   Zara   20
1  Alice   25
2    Bob   30

=== 8) Join two text columns into one ===

df_names with full name via str.cat:
   first last full
0     A    X  A X
1     B    Y  B Y

Alternative full (vectorized +):
   first last full full2
0     A    X  A X   A X
1     B    Y  B Y   B Y

=== 9) DataFrame.compare and Series.compare ===

df1:
    A  B
0  1  4
1  2  5
2  3  6

df2:
     A   B
0   1   4
1  20  50
2   3   6

df1.compare(df2) -> differences only:
      A          B
  self other self other
1  2.0  20.0  5.0  50.0

df1.compare(df2, keep_shape=True, keep_equal=True):
      A          B
  self other self other
0    1     1    4     4
1    2    20    5    50
2    3     3    6     6

s1.compare(s2):
    self  other
1   2.0   20.0

Elementwise equality (df1 == df2):
        A      B
0   True   True
1  False  False
2   True   True

Any differences per row: (df1 != df2).any(axis=1):
 0    False
1     True
2    False
dtype: bool

=== 10) Compare two Series in flexible ways ===

sa:
 a    10.0
b    20.0
c     NaN
d    40.0
dtype: float64
sb:
 a    10
b    21
c    30
d    41
dtype: int64

Difference sa - sb:
 a    0.0
b   -1.0
c    NaN
d   -1.0
dtype: float64

sa == sb ->
 a     True
b    False
c    False
d    False
dtype: bool

sa.combine(sb, compare_vals) ->
 a          10.0
b    (20.0, 21)
c     (nan, 30)
d    (40.0, 41)
dtype: object

=== ALL EXAMPLES COMPLETE ===

## Date Time and Text Data

1. https://www.geeksforgeeks.org/python/python-working-with-date-and-time-using-pandas/

2. https://www.geeksforgeeks.org/python/python-pandas-timestamp-timestamp/

3. https://www.geeksforgeeks.org/python/python-pandas-timestamp-now/

4. https://www.geeksforgeeks.org/python/python-pandas-timestamp-isoformat/

5. https://www.geeksforgeeks.org/python/python-pandas-timestamp-date/

6. https://www.geeksforgeeks.org/python/python-pandas-timestamp-replace/

7. https://www.geeksforgeeks.org/python/python-pandas-to_datetime/

8. https://www.geeksforgeeks.org/python/python-pandas-working-with-text-data/

9. https://www.geeksforgeeks.org/python/python-pandas-series-str-lower-upper-and-title/

10. https://www.geeksforgeeks.org/python/python-pandas-series-str-replace-to-replace-text-in-a-series/

11. https://www.geeksforgeeks.org/pandas/python-pandas-series-replace/

12. https://www.geeksforgeeks.org/python/python-pandas-series-str-strip-lstrip-and-rstrip/

13. https://www.geeksforgeeks.org/python/python-pandas-tseries-offsets-dateoffset/

In [4]:
# pandas_datetime_text_examples.py
# Demonstrates: pandas Timestamp creation & methods, pd.to_datetime parsing options,
# Timestamp.now(), isoformat(), date(), replace(), DateOffset and common offsets,
# Series.str methods (lower, upper, title, replace, strip), Series.replace (non-string replacement),
# and examples of parsing with formats, dayfirst, errors handling.
#
# Inline comments explain what each function does and describe important parameters.

import pandas as pd
import numpy as np
from pandas.tseries import offsets
from datetime import datetime, timedelta

print("\n=== PANDAS DATETIME & TEXT (examples + explanations) ===\n")


# ============================================================
# 1) pandas.Timestamp - a pandas scalar for datetimes
# ============================================================
# pd.Timestamp is pandas' equivalent of Python's datetime but with more functionality (vectorized aware).
# Useful methods: .now(), .isoformat(), .date(), .replace(), .timestamp()
print("1) pandas.Timestamp examples\n")

# Create Timestamp from string or datetime
ts1 = pd.Timestamp("2023-11-18 14:30:00")    # parse ISO-like string
ts2 = pd.Timestamp(datetime(2023, 11, 18, 14, 30))  # from python datetime

print("ts1:", ts1, "  dtype:", type(ts1))
print("ts2:", ts2)

# Timestamp.now(tz=None) -> current local time or with timezone tz (tz can be tzinfo or string)
# Example: now in local timezone (no tz argument)
now_local = pd.Timestamp.now()
print("\nTimestamp.now() (local):", now_local)

# .isoformat() -> ISO 8601 string representation (same as datetime.isoformat)
print("now_local.isoformat():", now_local.isoformat())

# .date() -> returns a python date object (year, month, day only)
print("now_local.date():", now_local.date(), " type:", type(now_local.date()))

# .timestamp() -> POSIX timestamp (seconds since epoch as float)
print("now_local.timestamp() (float seconds since epoch):", now_local.timestamp())

# .replace() -> similar to datetime.replace, returns new Timestamp with replaced components
# Signature: ts.replace(year=None, month=None, day=None, hour=None, minute=None, second=None, microsecond=None, tzinfo=None)
ts_replaced = ts1.replace(year=2025, hour=8)   # change year and hour
print("ts1.replace(year=2025, hour=8) ->", ts_replaced)


# ============================================================
# 2) pd.to_datetime - parse strings to datetimes (very important)
# ============================================================
# pd.to_datetime(arg, errors='raise', format=None, dayfirst=False, yearfirst=False, utc=None)
# - arg: scalar, list-like, Series, DataFrame (columns)
# - errors: 'raise' (default) -> raise on parse error, 'coerce' -> set parse-fail to NaT, 'ignore' -> return original
# - format: provide a format string (faster & strict) e.g. "%d-%m-%Y %H:%M:%S"
# - dayfirst/yearfirst: interpret ambiguous dates like 01/02/2020
# - utc: if True, return timezone-aware UTC timestamps
print("\n2) pd.to_datetime examples & parsing options\n")

samples = pd.Series([
    "2021-01-02",
    "02-01-2021",        # ambiguous format
    "2021/03/04 12:30",
    "April 5 2021",
    "20210506",          # compact format YYYYMMDD
    "not a date"         # invalid
])
print("Sample string Series:\n", samples.tolist())

# Default parsing (best-effort). Ambiguous forms are guessed.
parsed_default = pd.to_datetime(samples, errors='coerce')  # invalid -> NaT
print("\nParsed with default (errors='coerce'):\n", parsed_default)

# If you know the format, pass `format` for speed & correctness:
# Example: format for "2021/03/04 12:30" is "%Y/%m/%d %H:%M"
known_fmt = pd.to_datetime("2021/03/04 12:30", format="%Y/%m/%d %H:%M")
print("\nParsed single string with format='%Y/%m/%d %H:%M':", known_fmt)

# dayfirst=True (treat '02-01-2021' as 2 Jan 2021)
parsed_dayfirst = pd.to_datetime(samples, dayfirst=True, errors='coerce')
print("\nParsed with dayfirst=True:\n", parsed_dayfirst)

# errors='ignore' returns original input when parse fails
parsed_ignore = pd.to_datetime(samples, errors='ignore')
print("\nParsed with errors='ignore' -> invalid remains as original string:\n", parsed_ignore)


# Parse a DataFrame with a date column:
df_dates = pd.DataFrame({
    'id': [1,2,3],
    'date_str': ['01-02-2020', '03-04-2021', '2020/12/31']
})
# Convert column to datetime in place:
df_dates['date'] = pd.to_datetime(df_dates['date_str'], dayfirst=True, errors='coerce')
print("\nDataFrame with parsed date column:\n", df_dates)


# ============================================================
# 3) Working with timezone-aware Timestamps (brief)
# ============================================================
print("\n3) Timezone examples (brief)\n")

# Create timezone-aware timestamp: pass tz argument or localize/convert
utc_now = pd.Timestamp.now(tz='UTC')   # timezone specified by string
print("UTC now:", utc_now)

# Convert between timezones
india = utc_now.tz_convert('Asia/Kolkata')   # convert tz-aware ts to Asia/Kolkata
print("UTC -> Asia/Kolkata:", india)


# ============================================================
# 4) DateOffset & offsets: add months, business days, month ends etc.
# ============================================================
# pandas.tseries.offsets.DateOffset & prebuilt offsets (MonthEnd, MonthBegin, BusinessDay, BDay, YearEnd etc.)
print("\n4) DateOffset and common offsets (add/subtract)\n")

base = pd.Timestamp("2021-01-15")
print("base:", base)

# Add 1 calendar month (DateOffset months=1)
one_month_later = base + offsets.DateOffset(months=1)  # result: 2021-02-15
print("base + DateOffset(months=1):", one_month_later)

# Add 1 business day (BusinessDay)
bd_plus1 = base + offsets.BusinessDay(1)
print("base + BusinessDay(1):", bd_plus1)

# MonthEnd offset: roll forward to month end
me = base + offsets.MonthEnd(0)   # MonthEnd(0) moves to month end of the date if not already
print("base + MonthEnd(0) -> month end of base's month:", me)

# Use MonthEnd(1) to move to next month end:
print("base + MonthEnd(1) -> next month end:", base + offsets.MonthEnd(1))

# Custom DateOffset: e.g. 3 months and 10 days
#custom = base + (offsets.DateOffset(months=3) + offsets.DateOffset(days=10))
#print("custom offset 3 months + 10 days:", custom)


# ============================================================
# 5) Vectorized datetime accessors on Series: .dt (year, month, day, weekday, etc.)
# ============================================================
print("\n5) Series.dt accessor examples\n")

s_time = pd.Series(pd.to_datetime(["2021-01-02", "2022-05-06", "2020-12-31"]))
print("s_time:\n", s_time)

# Extract components
print("Year:", s_time.dt.year.tolist())
print("Month:", s_time.dt.month.tolist())
print("Day:", s_time.dt.day.tolist())
print("Day of week (0=Mon):", s_time.dt.dayofweek.tolist())
print("Is month end?:", s_time.dt.is_month_end.tolist())
print("Day name:", s_time.dt.day_name().tolist())


# ============================================================
# 6) Text / string operations on Series (Series.str.*)
# ============================================================
print("\n6) Series.str text operations (lower/upper/title/replace/strip) \n")

s_text = pd.Series([
    "  Hello World  ",
    "Pandas is Great",
    "foo,bar,baz",
    None,          # missing value example (NaN-like)
    "  mixed CASE "
])
print("Original text series:\n", s_text.tolist())

# str.lower() / str.upper() / str.title()
# These are vectorized string operations that operate on each non-missing element.
print("\nstr.lower ->", s_text.str.lower().tolist())
print("str.upper ->", s_text.str.upper().tolist())
print("str.title ->", s_text.str.title().tolist())

# str.strip / lstrip / rstrip (remove whitespace or characters)
# .str.strip(chars=None) -> remove leading/trailing whitespace or characters in 'chars'
print("\nstr.strip ->", s_text.str.strip().tolist())     # removes leading/trailing spaces
print("str.lstrip ->", s_text.str.lstrip().tolist())     # remove left only
print("str.rstrip ->", s_text.str.rstrip().tolist())     # remove right only

# str.replace(pattern, repl, n=-1, regex=True)
# - pattern: substring or regex
# - repl: replacement text
# - regex: whether to treat pattern as regex (True by default)
print("\nstr.replace(',','|') ->", s_text.str.replace(',', '|', regex=False).tolist())

# If you need regex-based replacement, use regex=True (default)
print("Regex replace ' +': single space ->", s_text.str.replace(r'\s+', ' ', regex=True).tolist())

# If series contains lists or other objects, str.* operations return NaN for non-strings
print("Note: operations ignore/return NaN for None / non-string entries.")


# ============================================================
# 7) Series.replace (non-string replacement) vs Series.str.replace
# ============================================================
print("\n7) Series.replace (value-based) vs Series.str.replace (string-based)\n")

s_vals = pd.Series([1, 2, 3, np.nan, 2])
print("s_vals:", s_vals.tolist())

# Series.replace(to_replace, value, inplace=False)
# - Used for replacing values (works across dtypes)
# - to_replace can be scalar, list, dict, or regex (if regex=True)
print("s_vals.replace(2, 200) ->", s_vals.replace(2, 200).tolist())

# Replace multiple values using dict mapping
print("s_vals.replace({1:10, 2:20}) ->", s_vals.replace({1:10, 2:20}).tolist())

# For string patterns in text Series, use Series.str.replace (above).
# Example:
s_names = pd.Series(['Mr. John', 'Ms. Alice', 'Dr. Bob', None])
print("s_names.str.replace(r'^Mr\\. |^Ms\\. |^Dr\\. ', '', regex=True) ->",
      s_names.str.replace(r'^(Mr\. |Ms\. |Dr\. )', '', regex=True).tolist())


# ============================================================
# 8) Parsing with custom format, errors handling and performance tips
# ============================================================
print("\n8) Parsing formats & errors in pd.to_datetime\n")

# If the column is large and format is uniform, pass format to speed up and avoid ambiguity.
# e.g., for "31-12-2020" use format="%d-%m-%Y"
large = pd.Series(['31-12-2020'] * 5)
parsed_fast = pd.to_datetime(large, format='%d-%m-%Y', errors='raise')   # raises on mismatch
print("Parsed with explicit format (fast):", parsed_fast)

# To safely coerce invalid entries to NaT:
mixed = pd.Series(['2020-01-01', 'invalid', '2021-05-05'])
print("pd.to_datetime(mixed, errors='coerce') ->", pd.to_datetime(mixed, errors='coerce'))


# ============================================================
# 9) Small worked example: read CSV-like data with dates & text, clean, and compute month-end
# ============================================================
print("\n9) Small worked example: cleaning & offset usage\n")

# Sample data frame representing a CSV read result where dates and amount columns are strings
df_raw = pd.DataFrame({
    'order_id': [101, 102, 103],
    'order_date': ['01/02/2021', '2021-03-15', '15-04-2021'],   # mixed formats
    'amount_str': ['1,200.50', '$300', '450']
})
print("Raw:\n", df_raw, "\n")

# Normalize amount_str -> numeric
df_raw['amount_clean'] = (df_raw['amount_str']
                           .astype(str)
                           .str.replace(',', '', regex=False)              # remove thousands comma
                           .str.replace(r'[^\d\.\-]', '', regex=True))    # remove $ and other non-numeric chars
df_raw['amount'] = pd.to_numeric(df_raw['amount_clean'], errors='coerce')
print("After cleaning amounts:\n", df_raw[['amount_str','amount_clean','amount']], "\n")

# Parse order_date: use dayfirst heuristic (some are dd/mm, some are yyyy-mm-dd)
df_raw['order_dt'] = pd.to_datetime(df_raw['order_date'], dayfirst=True, errors='coerce')
print("Parsed order_dt:\n", df_raw[['order_date','order_dt']], "\n")

# Compute month end for each parsed date using MonthEnd offset
df_raw['month_end'] = df_raw['order_dt'] + offsets.MonthEnd(0)   # nearest month end in same month
print("Add month_end column using MonthEnd(0):\n", df_raw[['order_dt','month_end']], "\n")


# ============================================================
# 10) Common gotchas & notes (short)
# ============================================================
print("\n10) Notes & gotchas\n")
print("- pd.to_datetime is flexible but can be slow on huge Series; pass format= when possible.")
print("- Use errors='coerce' when you want bad parses to become NaT instead of crashing.")
print("- Use Series.str.* for vectorized string ops (they ignore NaN and return NaN for non-strings).")
print("- Use Series.replace for value-based replacement (numbers, NaNs, mapping), and Series.str.replace for substring/regex replacement.")
print("- Offsets (MonthEnd, BusinessDay, DateOffset) are powerful for calendar-aware arithmetic.")
print("- For time zone handling, use tz-aware parsing and tz_convert/tz_localize as needed.\n")

print("=== DONE: pandas datetime & text examples ===\n")

=== PANDAS DATETIME & TEXT (examples + explanations) ===

1) pandas.Timestamp examples

ts1: 2023-11-18 14:30:00   dtype: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
ts2: 2023-11-18 14:30:00

Timestamp.now() (local): 2025-11-18 02:08:18.299877
now_local.isoformat(): 2025-11-18T02:08:18.299877
now_local.date(): 2025-11-18  type: <class 'datetime.date'>
now_local.timestamp() (float seconds since epoch): 1763431698.299877
ts1.replace(year=2025, hour=8) -> 2025-11-18 08:30:00

2) pd.to_datetime examples & parsing options

Sample string Series:
 ['2021-01-02', '02-01-2021', '2021/03/04 12:30', 'April 5 2021', '20210506', 'not a date']

Parsed with default (errors='coerce'):
 0   2021-01-02
1          NaT
2          NaT
3          NaT
4          NaT
5          NaT
dtype: datetime64[ns]

Parsed single string with format='%Y/%m/%d %H:%M': 2021-03-04 12:30:00

Parsed with dayfirst=True:
 0   2021-02-01
1          NaT
2          NaT
3          NaT
4          NaT
5          NaT
dtype: datetime64[ns]

Parsed with errors='ignore' -> invalid remains as original string:
 0          2021-01-02
1          02-01-2021
2    2021/03/04 12:30
3        April 5 2021
4            20210506
5          not a date
dtype: object

DataFrame with parsed date column:
    id    date_str       date
0   1  01-02-2020 2020-02-01
1   2  03-04-2021 2021-04-03
2   3  2020/12/31        NaT

3) Timezone examples (brief)

UTC now: 2025-11-17 20:38:18.305216+00:00
UTC -> Asia/Kolkata: 2025-11-18 02:08:18.305216+05:30

4) DateOffset and common offsets (add/subtract)

base: 2021-01-15 00:00:00
base + DateOffset(months=1): 2021-02-15 00:00:00
base + BusinessDay(1): 2021-01-18 00:00:00
base + MonthEnd(0) -> month end of base's month: 2021-01-31 00:00:00
base + MonthEnd(1) -> next month end: 2021-01-31 00:00:00

5) Series.dt accessor examples

s_time:
 0   2021-01-02
1   2022-05-06
2   2020-12-31
dtype: datetime64[ns]
Year: [2021, 2022, 2020]
Month: [1, 5, 12]
Day: [2, 6, 31]
Day of week (0=Mon): [5, 4, 3]
Is month end?: [False, False, True]
Day name: ['Saturday', 'Friday', 'Thursday']

6) Series.str text operations (lower/upper/title/replace/strip)

Original text series:
 ['  Hello World  ', 'Pandas is Great', 'foo,bar,baz', None, '  mixed CASE ']

str.lower -> ['  hello world  ', 'pandas is great', 'foo,bar,baz', None, '  mixed case ']
str.upper -> ['  HELLO WORLD  ', 'PANDAS IS GREAT', 'FOO,BAR,BAZ', None, '  MIXED CASE ']
str.title -> ['  Hello World  ', 'Pandas Is Great', 'Foo,Bar,Baz', None, '  Mixed Case ']

str.strip -> ['Hello World', 'Pandas is Great', 'foo,bar,baz', None, 'mixed CASE']
str.lstrip -> ['Hello World  ', 'Pandas is Great', 'foo,bar,baz', None, 'mixed CASE ']
str.rstrip -> ['  Hello World', 'Pandas is Great', 'foo,bar,baz', None, '  mixed CASE']

str.replace(',','|') -> ['  Hello World  ', 'Pandas is Great', 'foo|bar|baz', None, '  mixed CASE ']
Regex replace ' +': single space -> [' Hello World ', 'Pandas is Great', 'foo,bar,baz', None, ' mixed CASE ']
Note: operations ignore/return NaN for None / non-string entries.

7) Series.replace (value-based) vs Series.str.replace (string-based)

s_vals: [1.0, 2.0, 3.0, nan, 2.0]
s_vals.replace(2, 200) -> [1.0, 200.0, 3.0, nan, 200.0]
s_vals.replace({1:10, 2:20}) -> [10.0, 20.0, 3.0, nan, 20.0]
s_names.str.replace(r'^Mr\. |^Ms\. |^Dr\. ', '', regex=True) -> ['John', 'Alice', 'Bob', None]

8) Parsing formats & errors in pd.to_datetime

Parsed with explicit format (fast): 0   2020-12-31
1   2020-12-31
2   2020-12-31
3   2020-12-31
4   2020-12-31
dtype: datetime64[ns]
pd.to_datetime(mixed, errors='coerce') -> 0   2020-01-01
1          NaT
2   2021-05-05
dtype: datetime64[ns]

9) Small worked example: cleaning & offset usage

Raw:
    order_id  order_date amount_str
0       101  01/02/2021   1,200.50
1       102  2021-03-15       $300
2       103  15-04-2021        450

After cleaning amounts:
   amount_str amount_clean  amount
0   1,200.50      1200.50  1200.5
1       $300          300   300.0
2        450          450   450.0

Parsed order_dt:
    order_date   order_dt
0  01/02/2021 2021-02-01
1  2021-03-15        NaT
2  15-04-2021        NaT

Add month_end column using MonthEnd(0):
     order_dt  month_end
0 2021-02-01 2021-02-28
1        NaT        NaT
2        NaT        NaT


10) Notes & gotchas

- pd.to_datetime is flexible but can be slow on huge Series; pass format= when possible.
- Use errors='coerce' when you want bad parses to become NaT instead of crashing.
- Use Series.str.* for vectorized string ops (they ignore NaN and return NaN for non-strings).
- Use Series.replace for value-based replacement (numbers, NaNs, mapping), and Series.str.replace for substring/regex replacement.
- Offsets (MonthEnd, BusinessDay, DateOffset) are powerful for calendar-aware arithmetic.
- For time zone handling, use tz-aware parsing and tz_convert/tz_localize as needed.

=== DONE: pandas datetime & text examples ===

C:\Users\himan\AppData\Local\Temp\ipykernel_18704\4052672199.py:86: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  parsed_ignore = pd.to_datetime(samples, errors='ignore')

## CSV and Excel Files

1. https://www.geeksforgeeks.org/pandas/python-read-csv-using-pandas-read_csv/

2. https://www.geeksforgeeks.org/pandas/saving-a-pandas-dataframe-as-a-csv/

3. https://www.geeksforgeeks.org/python/creating-a-dataframe-using-excel-files/

4. https://www.geeksforgeeks.org/python/python-working-with-pandas-and-xlsxwriter-set-1/

5. https://www.geeksforgeeks.org/python/python-working-with-pandas-and-xlsxwriter-set-2/

6. https://www.geeksforgeeks.org/python/python-working-with-pandas-and-xlsxwriter-set-3/

In [ ]:
# pandas_io_csv_excel_examples.py
# Demonstrates reading/writing CSV and Excel files with pandas.
# - pd.read_csv: common parameters (sep, header, index_col, usecols, dtype, parse_dates, thousands)
# - DataFrame.to_csv: index control, header, na_rep, float_format
# - pd.read_excel: sheet_name, usecols, skiprows
# - pd.ExcelWriter + engine='xlsxwriter': write multiple sheets, formatting, column width, charts, conditional formatting
#
# Run: python pandas_io_csv_excel_examples.py
# Requires: pandas, openpyxl, XlsxWriter

import pandas as pd
import numpy as np
import os

OUT = "out_io_examples"
os.makedirs(OUT, exist_ok=True)

print("\n=== SAMPLE DATAFRAME (used for writing examples) ===\n")

# Create a sample DataFrame
df = pd.DataFrame({
    "OrderID": [1001, 1002, 1003, 1004],
    "Customer": ["Alice", "Bob", "Charlie", "Diana"],
    "Date": pd.to_datetime(["2021-01-02", "2021-01-05", "2021-01-07", "2021-01-10"]),
    "Quantity": [2, 1, 5, 3],
    "UnitPrice": [12.50, 9.99, 4.75, 20.0]
})
df["Total"] = df["Quantity"] * df["UnitPrice"]

print(df)
print("\n---\n")

# ============================================================
# 1) pd.read_csv: common usage & parameters
# ============================================================
#
# pd.read_csv(filepath_or_buffer, sep=',', header='infer', index_col=None,
#             usecols=None, dtype=None, parse_dates=False, dayfirst=False,
#             thousands=None, na_values=None, skiprows=None, nrows=None)
#
# Important parameters:
#  - sep: delimiter (',' default). Use '\t' for TSV.
#  - header: row number(s) to use as column names (0-based). None if no header.
#  - index_col: column(s) to use as index.
#  - usecols: subset of columns to read (list or callable).
#  - dtype: dict to force types for columns.
#  - parse_dates: column name(s) to parse as datetimes (True/list/dict).
#  - thousands: character used as thousands separator (e.g., ',').
#  - na_values: additional strings to recognize as NA.
#  - skiprows, nrows: read subset of file.
#
# We'll create a CSV first to demonstrate reading options.

csv_path = os.path.join(OUT, "orders_sample.csv")
df.to_csv(csv_path, index=False)   # write CSV to disk (no index column)
print("Wrote sample CSV to:", csv_path)

# Example A: simple read (auto-infer header)
print("\nread_csv basic (auto-infer):")
df_read = pd.read_csv(csv_path)
print(df_read.dtypes)
print(df_read.head(), "\n")

# Example B: read and parse Date as datetime (parse_dates)
print("read_csv with parse_dates=['Date'] -> Date column becomes datetime dtype:")
df_read_dates = pd.read_csv(csv_path, parse_dates=["Date"])
print(df_read_dates.dtypes)
print(df_read_dates.head(), "\n")

# Example C: read with dtype forcing and thousands handling
# (use when numeric columns may contain thousands separators like '1,234')
csv_with_thousands = os.path.join(OUT, "orders_thousands.csv")
df_big = df.copy()
df_big.loc[0, "Total"] = 1234567.89
df_big.to_csv(csv_with_thousands, index=False, float_format="%.2f")  # write large number
# Manually add a thousands comma to demonstrate (not necessary here but shows how to parse)
# Read forcing dtype (Total as float) and thousands=',' if numbers contain commas
df_read_thousands = pd.read_csv(csv_with_thousands, dtype={"OrderID": int}, thousands=',')
print("read_csv with thousands=',' and dtype={'OrderID':int} -> dtypes:\n", df_read_thousands.dtypes, "\n")

# Example D: read subset of columns via usecols and skiprows
print("read_csv with usecols=['OrderID','Total'] and nrows=2:")
df_read_subset = pd.read_csv(csv_path, usecols=['OrderID','Total'], nrows=2)
print(df_read_subset, "\n")


# ============================================================
# 2) DataFrame.to_csv: options when writing CSV
# ============================================================
#
# df.to_csv(path_or_buf, sep=',', na_rep='', float_format=None, columns=None,
#           header=True, index=True, index_label=None)
#
# Useful params:
#  - na_rep: string to represent missing values
#  - float_format: format string for floats e.g. '%.2f'
#  - columns: subset and order of columns to write
#  - index: whether to write row index
#  - index_label: label for index column when written
#
csv_out2 = os.path.join(OUT, "orders_custom.csv")
df.to_csv(csv_out2, index=False, na_rep="NA", float_format="%.2f", columns=["OrderID","Customer","Total"])
print("Wrote CSV with selected columns and formatting to:", csv_out2, "\n")


# ============================================================
# 3) pd.read_excel: reading Excel files
# ============================================================
#
# pd.read_excel(io, sheet_name=0, header=0, names=None, index_col=None,
#               usecols=None, skiprows=None, nrows=None, dtype=None, parse_dates=False)
#
# Important parameters:
#  - sheet_name: sheet name (str) or index (0-based) or list/None('all' to read all)
#  - usecols: e.g., "A:C" or [0,2] or list of names
#  - skiprows: rows to skip at top
#  - nrows: limit to N rows
#
# To demonstrate, we'll create an Excel file first.

excel_path = os.path.join(OUT, "orders_sample.xlsx")

# ============================================================
# 4) Writing Excel with formatting via XlsxWriter engine
# ============================================================
#
# Use pd.ExcelWriter(path, engine='xlsxwriter') as writer:
#   df.to_excel(writer, sheet_name='Sheet1', index=False)
#   workbook = writer.book   # xlsxwriter Workbook
#   worksheet = writer.sheets['Sheet1']  # xlsxwriter Worksheet
# Then you can use xlsxwriter APIs to set formats, column widths, create charts, conditional formatting, etc.
#
print("Writing Excel with formatting using XlsxWriter...")

with pd.ExcelWriter(excel_path, engine='xlsxwriter', datetime_format='yyyy-mm-dd', date_format='yyyy-mm-dd') as writer:
    # write the main dataframe to sheet 'Orders'
    df.to_excel(writer, sheet_name='Orders', index=False, startrow=1, header=False)  # we'll write header manually with format

    workbook  = writer.book
    worksheet = writer.sheets['Orders']

    # Create some formats
    header_fmt = workbook.add_format({'bold': True, 'bg_color': '#DCE6F1', 'border':1})
    money_fmt  = workbook.add_format({'num_format': '#,##0.00', 'align': 'right'})
    date_fmt   = workbook.add_format({'num_format': 'yyyy-mm-dd'})
    center_fmt = workbook.add_format({'align': 'center'})

    # Write the header with formatting (we used header=False above)
    for col_num, value in enumerate(df.columns.values):
        worksheet.write(0, col_num, value, header_fmt)

    # Set column widths & formats: (col index, first_col, last_col)
    worksheet.set_column(0, 0, 10, center_fmt)    # OrderID width 10
    worksheet.set_column(1, 1, 15)                # Customer width 15
    worksheet.set_column(2, 2, 12, date_fmt)      # Date formatted as date
    worksheet.set_column(3, 4, 12, money_fmt)     # Quantity and UnitPrice (we set Money format on UnitPrice & Total)

    # Apply conditional formatting to Total column (last column index = len(df.columns)-1)
    total_col = len(df.columns) - 1
    # Format rows where Total > 50 with green fill
    worksheet.conditional_format(1, total_col, len(df), total_col,
                                 {'type': 'cell', 'criteria': '>', 'value': 50,
                                  'format': workbook.add_format({'bg_color': '#C6EFCE'})})

    # Create a simple chart (Total by OrderID)
    chart = workbook.add_chart({'type': 'column'})
    # chart.add_series requires Excel-like ranges: sheet!$C$2:$C$5 etc.
    # We reference the sheet by name and the data range (note: row/col are zero-based to xlsxwriter)
    chart.add_series({
        'name': 'Total',
        'categories': ['Orders', 1, 0, len(df), 0],   # OrderID column used as categories
        'values':     ['Orders', 1, total_col, len(df), total_col],
        'fill':       {'color': '#5B9BD5'}
    })
    chart.set_title({'name': 'Order Totals'})
    chart.set_x_axis({'name': 'OrderID'})
    chart.set_y_axis({'name': 'Total', 'num_format': '#,##0.00'})

    # Insert the chart in the sheet
    worksheet.insert_chart('G2', chart, {'x_scale': 1.2, 'y_scale': 1.2})

    # Optionally write another sheet (summary)
    summary = df.groupby('Customer', as_index=False)['Total'].sum()
    summary.to_excel(writer, sheet_name='Summary', index=False)
    # you can format summary similarly
print("Excel written to:", excel_path)
print("\n---\n")


# ============================================================
# 5) pd.read_excel usage examples (reading back Excel)
# ============================================================
print("Reading back Excel sheets with pd.read_excel:")

# Read a specific sheet by name
df_orders = pd.read_excel(excel_path, sheet_name='Orders', skiprows=0, engine='openpyxl')
print("Read 'Orders' sheet, columns:", df_orders.columns.tolist())

# Read all sheets (sheet_name=None returns dict of DataFrames)
all_sheets = pd.read_excel(excel_path, sheet_name=None, engine='openpyxl')
print("Read all sheets -> keys:", list(all_sheets.keys()))

# Read with usecols to only read specific columns (e.g., OrderID and Total)
df_orders_small = pd.read_excel(excel_path, sheet_name='Orders', usecols=['OrderID','Total'], engine='openpyxl')
print("Read only OrderID and Total columns:\n", df_orders_small.head(), "\n")


# ============================================================
# 6) Good practices & tips (short)
# ============================================================
print("Good practices & tips:")
print("- For large CSVs, pass 'usecols' and 'dtype' to reduce memory.")
print("- If CSV numbers have thousands separator, pass thousands=','; for custom NA strings use na_values.")
print("- When reading dates, pass parse_dates to get datetime dtype immediately (or do pd.to_datetime after read).")
print("- Use pd.ExcelWriter with engine='xlsxwriter' for rich Excel output (formats, charts, conditional formatting).")
print("- Prefer pd.read_excel(..., engine='openpyxl') for .xlsx reading in newer pandas.")
print("- Avoid repeatedly opening/writing the same Excel file in loops; use a single ExcelWriter session when writing many sheets.")
print("- When writing floats to CSV, consider float_format='%.2f' to control precision and file size.\n")

print("=== DONE: CSV & Excel read/write examples ===\n")

## Visualization using Pandas

1. https://www.geeksforgeeks.org/data-visualization/pandas-built-in-data-visualization-ml/

2. https://www.geeksforgeeks.org/data-visualization/data-analysis-visualization-python/

3. https://www.geeksforgeeks.org/data-science/data-analysis-visualization-python-set-2/

4. https://www.geeksforgeeks.org/data-visualization/box-plot-visualization-with-pandas-and-seaborn/

In [ ]:
# pandas_seaborn_visualization_examples.py
# Demonstrates Pandas built-in plotting (matplotlib-backed) and Seaborn visualizations.
# Includes: line, bar, hist, box, kde, scatter, heatmap, pairplot, countplot, violin.
# Each plot call has comments explaining the function & main parameters.
#
# Run: python pandas_seaborn_visualization_examples.py
# Requires: pandas, matplotlib, seaborn

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Create output directory for saved plots (useful in notebook-less environments)
OUT_DIR = "out_plots"
os.makedirs(OUT_DIR, exist_ok=True)

# Use seaborn style for nicer default look
sns.set(style="whitegrid", context="notebook")


# ===========================
# Sample dataset: small sales dataset & random numeric dataset
# ===========================
# We'll build a small DataFrame that mimics typical analysis data:
np.random.seed(42)
dates = pd.date_range(start="2023-01-01", periods=12, freq='M')  # monthly dates
sales = np.random.randint(80, 200, size=12)                     # random monthly sales
profit = (sales * (np.random.rand(12) * 0.4 + 0.1)).round(2)    # profit = sales * random margin
categories = np.random.choice(['A', 'B', 'C'], size=12)         # categorical column
customers = np.random.randint(30, 120, size=12)                 # number of customers

df = pd.DataFrame({
    'date': dates,
    'sales': sales,
    'profit': profit,
    'category': categories,
    'customers': customers
})

# Also create a slightly larger DataFrame for distribution / pair plots
df_big = pd.DataFrame({
    'A': np.random.normal(50, 10, size=200),
    'B': np.random.normal(30, 5, size=200),
    'C': np.random.gamma(2.0, 5.0, size=200),
    'category': np.random.choice(['X','Y','Z'], size=200)
})

print("Data samples:")
print(df.head())
print(df_big.head(), "\n")


# ===========================
# 1) LINE PLOT (time series)
# ===========================
# pandas.DataFrame.plot(kind='line', x=None, y=None, figsize=None, rot=None)
# - kind='line' (default) plots continuous lines.
# - x: column to use for x-axis, y: column(s) for y-axis. If not provided, index used for x.
# - figsize: (width, height) in inches; rot: rotate x tick labels.
plt.figure(figsize=(8,4))
ax = df.plot(kind='line', x='date', y='sales', marker='o', title='Monthly Sales', legend=False)
ax.set_xlabel('Month')
ax.set_ylabel('Sales')
plt.tight_layout()
plt.savefig(os.path.join(OUT_DIR, "line_monthly_sales.png"))
plt.close()


# ===========================
# 2) BAR PLOT (categorical comparisons)
# ===========================
# df.plot(kind='bar', x=..., y=..., stacked=False)
# - Useful for comparing values across categories or time buckets.
monthly_by_cat = df.groupby(df['date'].dt.strftime('%b'))['sales'].sum()  # sales per month name
plt.figure(figsize=(8,4))
monthly_by_cat.plot(kind='bar', rot=45, title='Sales by Month (bar)')
plt.ylabel('Total Sales')
plt.tight_layout()
plt.savefig(os.path.join(OUT_DIR, "bar_sales_by_month.png"))
plt.close()


# ===========================
# 3) HISTOGRAM (distribution)
# ===========================
# df['col'].plot(kind='hist', bins=..., density=False)
# - bins: number of histogram bars. density=True -> normalized (PDF).
plt.figure(figsize=(6,4))
df_big['A'].plot(kind='hist', bins=20, title='Distribution of A (hist)')
plt.xlabel('A')
plt.tight_layout()
plt.savefig(os.path.join(OUT_DIR, "hist_A.png"))
plt.close()

# Seaborn also offers kde/hist combined with sns.histplot
plt.figure(figsize=(6,4))
sns.histplot(df_big['A'], bins=20, kde=True)
plt.title('A distribution (hist + KDE)')
plt.savefig(os.path.join(OUT_DIR, "hist_kde_A.png"))
plt.close()


# ===========================
# 4) KERNEL DENSITY ESTIMATE (KDE)
# ===========================
# df['col'].plot(kind='kde') or sns.kdeplot
plt.figure(figsize=(6,4))
sns.kdeplot(df_big['B'], fill=True)
plt.title('KDE of B')
plt.savefig(os.path.join(OUT_DIR, "kde_B.png"))
plt.close()


# ===========================
# 5) BOX PLOT (summary of distribution: median, quartiles, outliers)
# ===========================
# pandas: df.boxplot(column=[...], by=..., grid=True)
# seaborn: sns.boxplot(x=..., y=..., data=...)
# Key parameters: notch (show notch), whis (range for whiskers), showfliers (outliers)
plt.figure(figsize=(8,4))
sns.boxplot(x='category', y='sales', data=df)   # compare sales across categories
plt.title('Boxplot of Sales by Category')
plt.savefig(os.path.join(OUT_DIR, "box_sales_by_category.png"))
plt.close()


# ===========================
# 6) VIOLIN PLOT (distribution + density per category)
# ===========================
# seaborn violinplot provides density shape + quartiles
plt.figure(figsize=(8,4))
sns.violinplot(x='category', y='profit', data=df, inner='quartile')
plt.title('Violin plot of Profit by Category')
plt.savefig(os.path.join(OUT_DIR, "violin_profit_by_category.png"))
plt.close()


# ===========================
# 7) SCATTER PLOT & REGRESSION LINE
# ===========================
# df.plot(kind='scatter', x=..., y=..., s=marker_size)
# seaborn: sns.scatterplot and sns.regplot (adds a regression line)
plt.figure(figsize=(6,4))
sns.scatterplot(x='sales', y='profit', data=df, hue='category', s=80)
plt.title('Sales vs Profit (scatter)')
plt.savefig(os.path.join(OUT_DIR, "scatter_sales_profit.png"))
plt.close()

plt.figure(figsize=(6,4))
sns.regplot(x='sales', y='profit', data=df, ci=None)  # ci=None hides confidence interval
plt.title('Sales vs Profit (regression)')
plt.savefig(os.path.join(OUT_DIR, "regplot_sales_profit.png"))
plt.close()


# ===========================
# 8) PAIRPLOT (pairwise relationships)
# ===========================
# sns.pairplot(data, vars=..., hue=..., diag_kind='hist'|'kde')
# - Useful for small numeric datasets to inspect pairwise correlations & distributions
plt.figure()
pp = sns.pairplot(df_big, vars=['A','B','C'], hue='category', diag_kind='kde', corner=True)
pp.fig.suptitle('Pairplot of numeric columns (df_big)', y=1.02)
pp.fig.savefig(os.path.join(OUT_DIR, "pairplot_df_big.png"))
plt.close()


# ===========================
# 9) HEATMAP of correlation matrix
# ===========================
# Compute correlation matrix: df.corr()
# sns.heatmap(corr, annot=True, cmap='coolwarm', fmt=".2f")
corr = df_big[['A','B','C']].corr()
plt.figure(figsize=(5,4))
sns.heatmap(corr, annot=True, cmap='coolwarm', vmin=-1, vmax=1, fmt='.2f')
plt.title('Correlation matrix (A, B, C)')
plt.tight_layout()
plt.savefig(os.path.join(OUT_DIR, "heatmap_corr.png"))
plt.close()


# ===========================
# 10) COUNTPLOT (counts of categorical variable)
# ===========================
# sns.countplot(x='category', data=df_big) — simpler than value_counts+bar plot
plt.figure(figsize=(6,4))
sns.countplot(x='category', data=df_big, order=sorted(df_big['category'].unique()))
plt.title('Category counts (df_big)')
plt.savefig(os.path.join(OUT_DIR, "countplot_category.png"))
plt.close()


# ===========================
# 11) BAR PLOT FROM AGGREGATION (groupby + plot)
# ===========================
# df.groupby('cat')['val'].agg('sum').plot(kind='bar')
agg = df.groupby(df['date'].dt.year)['sales'].sum()  # group by year (here all same year but demo)
plt.figure(figsize=(6,4))
agg.plot(kind='bar', title='Total Sales by Year (grouped)')
plt.ylabel('Sales')
plt.tight_layout()
plt.savefig(os.path.join(OUT_DIR, "bar_groupby_year.png"))
plt.close()


# ===========================
# 12) BOX PLOT USING PANDAS .plot.box (alternative)
# ===========================
plt.figure(figsize=(6,4))
df_big[['A','B','C']].plot.box(title='Box plot (pandas.plot.box)')
plt.tight_layout()
plt.savefig(os.path.join(OUT_DIR, "pandas_box_df_big.png"))
plt.close()


# ===========================
# 13) Styling & saving tips (example)
# ===========================
# - Use figsize to control size; dpi parameter when saving to increase resolution.
# - Use plt.tight_layout() to avoid overlapping labels.
# - For presentation, choose fonts, colors via seaborn.set_context / matplotlib rcParams.
# Example: save high-res figure
plt.figure(figsize=(6,4))
sns.histplot(df_big['C'], bins=25, kde=True)
plt.title('C distribution high-res')
plt.tight_layout()
plt.savefig(os.path.join(OUT_DIR, "hist_C_highres.png"), dpi=200)
plt.close()


# ===========================
# DONE — summary printout
# ===========================
print("Plots saved to folder:", OUT_DIR)
print("Examples created: line, bar, hist, kde, box, violin, scatter, regplot, pairplot, heatmap, countplot, box (pandas).")
print("\nTips:")
print("- Prefer seaborn for quick statistical visualizations (boxplot, violin, pairplot, heatmap).")
print("- Use pandas .plot for quick exploratory plots when working directly from DataFrame.")
print("- When working interactively (Jupyter), use %matplotlib inline or notebook and call plt.show() to render.")
print("- For large datasets consider sampling before pairplot or plotting aggregated summaries instead of raw scatter.")

## Projects

1. https://www.geeksforgeeks.org/python/how-to-do-a-vlookup-in-python-using-pandas/

2. https://www.geeksforgeeks.org/python/convert-csv-to-html-table-in-python/

3. https://www.geeksforgeeks.org/data-visualization/kde-plot-visualization-with-pandas-and-seaborn/

4. https://www.geeksforgeeks.org/python/analyzing-selling-price-of-used-cars-using-python/

5. https://www.geeksforgeeks.org/pandas/add-css-to-the-jupyter-notebook-using-pandas/