In [ ]:
# Importing required libraries

import pandas as pd
import numpy as np

In [2]:
# Creating dataset for practicing Pandas

data = {
    "OrderID": [
        1001, 1002, 1003, 1004, 1005,
        1006, 1007, 1008, 1009, 1010,
        1011, 1012, 1013, 1014, 1015,
        1016, 1017, 1018, 1019, 1020
    ],
    
    "Customer": [
        "Alice", "Bob", "Charlie", "Diana", "Emma",
        "Frank", "George", "Helen", "Ian", "Jenny",
        "Kyle", "Laura", "Mike", "Nina", "Oscar",
        "Paul", "Queen", "Rita", "Sam", "Tina"
    ],
    
    # Mixed date formats to test pd.to_datetime parsing
    "OrderDate": [
        "2023-01-05", "05/02/2023", "2023/03/12", "12-04-2023", "2023-05-01",
        "2023-06-15", "15/07/2023", "2023/08/20", "20-09-2023", "2023-10-11",
        "2023-11-01", "01/12/2023", "2024/01/05", "05-02-2024", "2024-03-15",
        "2024-04-18", "18/05/2024", "2024/06/22", "22-07-2024", None
    ],
    
    # Category column for grouping, value_counts, plots
    "Category": [
        "A", "B", "A", "C", "B",
        "A", "C", "B", "C", "A",
        "B", "C", "A", "B", "C",
        "A", "A", "C", "B", "C"
    ],
    
    # Price as string with commas for cleaning exercises
    "UnitPrice": [
        "1,200.50", "500", "750.25", "1,000", "650.00",
        "900", "1,500", "450", "1,050.75", "800",
        "999.99", "1,700", "880.40", "1,250", "600",
        "1,300", "550", "700", "1,450", "1,100"
    ],
    
    # Quantity column for numeric operations
    "Quantity": [
        2, 1, 3, 5, 2,
        4, 1, 2, 3, 5,
        2, 4, 3, 1, 2,
        5, 6, 1, 2, 3
    ],
    
    # Email column for string functions: .str.split, .str.contains, .str.lower, etc.
    "Email": [
        "alice@example.com", "bob@mail.com", "charlie@example.com", "diana@mail.com", "emma@example.com",
        "frank@mail.com", "george@example.com", "helen@mail.com", "ian@mail.com", "jenny@example.com",
        "kyle@mail.com", "laura@example.com", "mike@mail.com", "nina@example.com", "oscar@mail.com",
        "paul@example.com", "queen@mail.com", "rita@example.com", "sam@mail.com", "tina@example.com"
    ],
    
    # Status column for filtering, replace(), category analysis
    "Status": [
        "Delivered", "Pending", "Delivered", "Returned", "Delivered",
        "Pending", "Delivered", "Pending", "Delivered", "Delivered",
        "Returned", "Pending", "Delivered", "Pending", "Delivered",
        "Delivered", "Pending", "Returned", "Pending", "Delivered"
    ],
    
    # Float column with some NaN values for mean(), fillna(), interpolate()
    "Rating": [
        4.5, 3.8, None, 4.2, 5.0,
        None, 3.5, 4.8, 4.0, None,
        3.9, 4.4, None, 5.0, 4.7,
        4.1, None, 3.6, 4.9, 4.3
    ],
    
    # Random sales numbers for sorting, plotting, stats
    "Sales": [
        2400, 500, 2250, 5000, 1300,
        3600, 1500, 900, 3150, 4000,
        1999, 6800, 2641, 1250, 2800,
        3900, 3300, 700, 2900, 2200
    ],
}